[2020-02-28 15:01] fxfactorial opened #2333 "finish Implementation of verification in slash"
verification of the slash not finished, see https://github.com/harmony-one/harmony/blob/master/staking/slash/double-sign.go#L162

[2020-02-28 15:02] fxfactorial opened #2334 "Finish implementation of slash record sanity check"
https://github.com/harmony-one/harmony/blob/master/staking/slash/double-sign.go#L118

[2020-02-28 15:03] fxfactorial opened #2335 "be explicit of which validator snapshot epoch to use in slash application"
https://github.com/harmony-one/harmony/blob/master/staking/slash/double-sign.go#L352

[2020-02-28 15:06] fxfactorial opened #2336 "have explicit upper bound limit of pending slashing candidates"
need to guard against too many slashes coming in here, as a potential ddos attack vector

https://github.com/harmony-one/harmony/blob/master/node/double_signing.go#L30

[2020-02-28 15:09] fxfactorial opened #2337 "remove delegation that hits 0 after being applied with slash"
see https://github.com/harmony-one/harmony/blob/master/staking/slash/double-sign.go#L287

[2020-02-28 15:20] #2321 closed

[2020-02-28 16:00] fxfactorial opened #2338 "Create continous profiling pipeline"
I'd like this happening in our project, continuous performance profiling.

https://medium.com/google-cloud/continuous-profiling-of-go-programs-96d4416af77b

also want such that whenever i open PR to master, there is a report which shows top five average function cost changes in CPU, memory as a result of the new code of the PR.

[2020-02-28 21:52] gupadhyaya opened #2341 "[Feature] Add unit tests for core package"
Add unit tests for core package starting with stake_verifier.go

[2020-02-29 05:34] sophoah commented on #2312
issue is fixed now in ```Harmony (C) 2020. harmony, version v5606-v1.3.2-0-g42db637c```

[2020-02-29 05:34] #2312 closed

[2020-02-29 07:55] sophoah commented on #2225
@mikedoan confirmed it worked as well, small note though the loaded extension shows 0.0.1 as the version. Good job. Closing the issue.

[2020-02-29 08:49] BrunoMarshall commented on #2312
Checked with the new version v5606-v1.3.2-0-g42db637c and i can collect rewards
![image](https://user-images.githubusercontent.com/35432495/75604402-9657e580-5ad8-11ea-9af9-ece8a7b83760.png)
![image](https://user-images.githubusercontent.com/35432495/75604414-c30bfd00-5ad8-11ea-8092-8004d971169c.png)

[2020-02-29 09:00] sophoah commented on #2163
issue fixed, @mirrormirage0  feel free to close it.

[2020-02-29 11:54] mirrormirage0 commented on #2163
Verified and closed.
As expected, trying to import duplicate key now fails with error message "already exists in keystore"
![image](https://user-images.githubusercontent.com/29485946/75606958-c10f6180-5b0b-11ea-9b69-86333df2c5ce.png)

[2020-02-29 11:54] #2163 closed

[2020-02-29 14:36] mindstyle85 commented on #2225
shows 0 again in the latest version of extension for both me and @sophoah (i downloaded and built mine 30min ago)

[2020-02-29 15:21] sophoah commented on #2225
@mikedoan looks like intermittent at first but did more test, and looks like for small reward, no issue, but when reward are bigger it would show 0 (tested with 1k 2k) and @mindstyle85 alsoc onfirmed

[2020-02-29 16:23] BrunoMarshall opened #2345 "Staking explorer - with harmony extension - yellow text difficult to read"
## Summary
If we need to stake all tokens to a validator, the error message is difficult to read because of the yellow color:

![image](https://user-images.githubusercontent.com/35432495/75611154-2e28f400-5b18-11ea-9c78-ce0b3ae04bb8.png)

**** Also average user doesn't want to discount the fees to send the max amount, bad design if you can add the fees automatically to the sum

[2020-02-29 16:51] yelllowsin commented on #2345
We currently have two different logics on how to deal with fees when signing txs on dashboard. First one that is shown by @BrunoMarshall above asks for the user to calculate the fees whenever he want's to send the max amount. The other one, which is in my view the best one and correct, is when the dashboard calculates the fee automatically for you and adds it to the tx.

Parts that are OK (good de

[2020-02-29 20:10] mindstyle85 opened #2346 "[Feature] adding history for undelegation/delegation txs"
# Problem/limitation At Hand

Currently no tx history exists for delegation/undelegation. Most other POS chains that allow delegation have these on record so that they can be verified at any time. Even though this is supposed to work correctly, i am pretty sure this history will be needed at some point by the users of the chain, and besides this it will also help a lot with testing.

# Proposed So

[2020-02-29 20:41] gizemcakil opened #2347 "[Staking dashboard] Reward data seems too high for some validators in the portfolio page"
**Describe the bug**
Some delegations shows extremely high APR, probably due to reward data being wrong.
it's in the delegation table in the portfolio page

**Screenshots**
![photo_2020-02-29 12 24 05](https://user-images.githubusercontent.com/45907268/75614753-cf9c4f80-5af0-11ea-81f0-7a5dc144c3a6.jpeg)
![photo_2020-02-29 12 24 58](https://user-images.githubusercontent.com/45907268/75614754-d3c86d

[2020-02-29 20:45] mindstyle85 opened #2348 "created validator without an actual confirmation"
**Describe the bug**

I tried creating a validator on my 2nd address, ran the command and got back insufficient funds (i forgot i depleted s0 funds on it). So i sent some funds from the same address on s1->s0, waited a bit and tried again, this is what i got:

luka@ubuntu:~/Desktop/devnet2$ ./hmy --node="https://api.s0.os.hmny.io" staking create-validator --validator-addr one1675d7adqu9egn0ehd9fx4

[2020-02-29 20:45] gizemcakil opened #2349 "[staking dashboard] voting power calculated incorrectly"
**Describe the bug**
Voting power field in the validator list shows different voting power for similar stake volumes.

**Screenshots**

<img width="1103" alt="image" src="https://user-images.githubusercontent.com/45907268/75614812-636e1b80-5af1-11ea-9295-51cf54498a37.png">

[2020-02-29 20:53] daywednes commented on #2347
APR was not implemented - It should be on Edgar plate.

We should have added N/A instead of showing the numbers

On Sat, Feb 29, 2020 at 12:42 PM gizemcakil <notifications@github.com>
wrote:

--
---
Minh

[2020-02-29 22:33] fxfactorial commented on #2349
it matters whether total one staked is pre or post EPoSed processing

[2020-02-29 22:36] fxfactorial opened #2350 "Finish implementing availability unit test"
See `staking/availability/measure_test.go` and finish implementation

[2020-03-01 08:58] BrunoMarshall commented on #2225
I´m performing tests with different amount "collect rewards"
- for 6.6 rewards appears the pop-up message confirmation with the value
![image](https://user-images.githubusercontent.com/35432495/75622531-86f09f00-5ba1-11ea-81e5-dd09edae8a75.png)

-for 1034 i got the issue:
![image](https://user-images.githubusercontent.com/35432495/75622624-cf5c8c80-5ba2-11ea-8c8d-837a215e1ad2.png)

- for 39390 rew

[2020-03-01 21:12] BrunoMarshall commented on #1977
This should be ok now, please confirm and close the issue. thanks

[2020-03-01 23:05] Daniel-VDM commented on #2348
Were you able to create a validator after a little while?

[2020-03-01 23:25] mindstyle85 commented on #2348
the validator actually got created with one of the above two commands, it is in the comittee and i didnt try it again. I had the same thing with Nick V whom i helped creating the validator. He has ran the commnand before i managed to fund his account but the end result was still a created validator (his is John) - so looks like one of these txs actually goes through even if it at first says not en

[2020-03-02 00:00] yelllowsin opened #2351 "node.sh checksum FAILED for statically linked binaries"
**Steps to reproduce the behavior on Mainnet**:

[code]

**Error returned**:
[code]

If i run the command again the error doesn't happen a second time and i am prompted with the bls key password as expected, though an error with Permission denied for the harmony file is shown when i type the password:

[code]

To fix the issue i had to give the harmony the correct permissions:

`chmod u+x harmony`

[2020-03-02 11:49] yelllowsin commented on #2271
Graceful shutdown is working correctly on OSNT, you can close this issue @LeoHChen

[2020-03-02 13:52] yelllowsin commented on #2241
@rlan35 haven't had any issue with panic runtime error in the last versions of OSNT. Others might confirm it, but per my view this issue can be closed.

[2020-03-02 14:29] yelllowsin commented on #2225
@mikedoan I can confirm it works for small amounts, but when the claimed reward get's bigger it shows as 0 on the screen, though the rewards are claimed succesfully. Tested claiming 1.5 ONE (shows correctly the amount) and tested claiming 5000 ONE (shows 0 on the screen).

Using Harmony extensions version: 0.0.1

[2020-03-02 14:33] yelllowsin commented on #2221
@SebastianJ i think this issue can be closed, no? Just checked, and shard is back:

`./hmy blockchain latest-header --node https://api.s1.b.hmny.io`

[2020-03-02 14:36] #2221 closed

[2020-03-02 15:03] sophoah commented on #2348
I managed to recreate the issue

So in short, the bug here is the fact that we don't have a successful message ever in that scenario though at the end the validator is actually created successfully

Scenario is :
1 - to try to create a failed validator (not sufficient amount)
2 - transfer the sufficient amount for the actual creation
3 - create the validator

See capture:
this is step 1 where I di

[2020-03-02 16:22] fxfactorial opened #2352 "organize all the logs"
currently our logging is ad-hoc and many things that are not errors are logged as errors.

Plus the logging is incredibly verbose in code because lots of code does `utils.Logger().Info()...` and some variation of that.

plus the hooking onto a global value is icky and causing issues like this:
[code]

so we need to have major components be have their own namespaced loggers, like consensus sort of

[2020-03-02 17:04] yelllowsin commented on #2206
@mindstyle85 tested this again with latest version from master on OSNT and hmy is throwing the correct message now, saying validator is duplicated. Maybe close this one?

[code]

Result:

`[CreateValidator] one1zmtegpk65ghgwxzhq9q6hc6tjyj5z0ey8ge6zd: staking validator already exists -- 2020-03-02 13:38:31 +0000 UTC`

[code]

[code]

[2020-03-02 17:07] #2206 closed

[2020-03-02 17:10] yelllowsin commented on #2153
@Daniel-VDM  i think this one can be closed. Both harmony and hmy have statically linked binaries working by my tests, the only issue found that is related to this feature is #2351 that can be addressed separately.

[2020-03-02 17:14] yelllowsin commented on #2138
Seems this one went missing in the last updates done on the dashboard. Can maybe we assing Potvik or Mike maybe to check on this? @rlan35

[2020-03-02 17:17] yelllowsin commented on #2136
@rlan35 @denniswon  this one can be closed, i can confirm i am running nodes with pruning on main net, shard 0 and 3. Other FN nodes are running succesfully on other shards as well.

[2020-03-02 17:41] fxfactorial opened #2353 "Fold staking epoch and crosslink epoch"
IsStaking and Iscrosslink should be unified under just isstaking

[2020-03-02 17:42] yelllowsin commented on #2072
@JB273 @SebastianJ this one can be closed. Tested here with the remove parameter and it works:

`./hmy keys remove foster-imported`

[code]

[2020-03-02 17:44] fxfactorial opened #2354 "Deprecate wallet.sh and remove usages"
Deprecated for our hmy cli tool , remove the tests that run in debug.sh they are spurious now

[2020-03-02 17:45] #2275 closed

[2020-03-02 18:10] yelllowsin commented on #2071
Tested again using latest hmy version with an amount of 1 ONE. Now the hmy throws an error saying the balance of 1 is insufficient as we need some gas added to the tx, thus you cannot send the max amount. Eventough the error doesn't specifically say there is gas missing, it is not wrong to say the balance is insufficient. I would personally close this one as solved, as the error will be the same f

[2020-03-02 18:35] Daniel-VDM commented on #2348
Ah, we don't flush the error sink if a successful tx went through. I'm going to have to change the error sink logic a bit to account for this.

[2020-03-03 02:27] mindstyle85 opened #2359 "GetStakingInfo unable to decode: rlp: too few elements for struct"
**Describe the bug**

got this today:

node.sh: ############### Running Harmony Process ###############
Staking mode; node key e429cbf74e8ab28ed295999d179ad79827c7febe0208a6145aa91bbb60b68a0b1907de4c38573352cafe00c8105b1116 -> shard 2
GetStakingInfo unable to decode: rlp: too few elements for struct { Epoch *big.Int; NumBlocksToSign *big.Int "rlp:\"nil\""; NumBlocksSigned *big.Int "rlp:\"nil\"" },

[2020-03-03 04:45] fxfactorial commented on #2359
This is dated , method getstakinginfo shouldn’t exist anymore , something is outdated

[2020-03-03 07:42] BrunoMarshall commented on #1517
With the latest hmy version, all the error message are implemented, i will close this issue, thank you all

[2020-03-03 07:42] #1517 closed

[2020-03-03 07:59] BrunoMarshall commented on #1971
I will close this issue, pls see Mindstyle comment
Thank you

[2020-03-03 07:59] #1971 closed

[2020-03-03 08:00] BrunoMarshall commented on #1976
Will close this issue, solved

[2020-03-03 08:00] #1976 closed

[2020-03-03 08:03] BrunoMarshall commented on #2071
I will close this issue, please see the comment from Yelllowsin.
Solved.
Thank you

[2020-03-03 08:03] #2071 closed

[2020-03-03 08:05] BrunoMarshall commented on #2165
This issue is solved with the latest hmy version ./hmy version
Harmony (C) 2020. hmy, version v295-abda494 (ubuntu@harmony.one 2020-02-28T22:01:25+0000
I will close this issue.
Thank you

[2020-03-03 08:05] #2165 closed

[2020-03-03 08:07] BrunoMarshall commented on #2233
I will close this issue, based on the Daniel´s comment.
Thank you

[2020-03-03 08:07] #2233 closed

[2020-03-03 08:30] BrunoMarshall commented on #2349
Here the voting power from 03-03-2020
![image](https://user-images.githubusercontent.com/35432495/75756551-1e382c80-5d31-11ea-965c-022a88555e71.png)
I seems that this voting power is within the shard, if the validator "R" is alone in his specific shard, then the values probably are correct.
is required more testing

[2020-03-03 11:31] mindstyle85 commented on #2359
yeah i figured as much, but no idea how seb's tool downloaded me this version, when it successfully downloaded me v5617 just a few hours before

[2020-03-03 12:39] mindstyle85 commented on #2203
@fxfactorial

got it today with latest static version:
curl -LO https://raw.githubusercontent.com/harmony-one/harmony/master/scripts/node.sh

node.sh: ############### Running Harmony Process ###############
Staking mode; node key e429cbf74e8ab28ed295999d179ad79827c7febe0208a6145aa91bbb60b68a0b1907de4c38573352cafe00c8105b1116 -> shard 2
beaconchain-is-nil:true shardchain-is-nil:truenode.sh: node pr

[2020-03-03 14:55] #2359 closed

[2020-03-03 15:13] mindstyle85 commented on #2019
@rlan35 @fxfactorial

bump, current staking dashboard still has 0 uptime for validator

[2020-03-03 15:46] #2205 closed

[2020-03-03 16:02] BrunoMarshall commented on #2291
Hi @err0r711 , did you have again this issue?
I couldn´t succeed to recreate this issue, the only explanation is that there is a gap/delay between the hmy and TUI, aparently TUI is only sync X Time

[2020-03-03 16:31] mikedoan commented on #2349
the new calculation by discussing with rj - is to take the sum of voting-power returned by hmy_getSuperCommittees  in all shards (4 shards) and divide it by 4.

[2020-03-03 16:31] #2349 closed

[2020-03-03 17:13] BrunoMarshall commented on #2224
Hi Soph, thank you, some of your request are already added to the staking explorer, maybe you can close this request and open a more specific one, because there´s a lot of information here:
**Delegator view:**

- [ ] total current stake for a validator (not only what he self delegated) -> I can compare with median stake  (Done)

- [ ] a working uptime % (Done)

- [ ] an indication on whether the v

[2020-03-03 17:13] err0r711 commented on #2291
it's always on my tui like that.

[2020-03-03 17:46] yelllowsin commented on #1811
@SebastianJ i think we can close this one, no? I am running statically linked binaries on mainet using Debian it is been a few days with no issues. There is an issue opened though regarding statically linked binaries #2351 but this one is not related to signal SIGSEGV: segmentation violation.

[2020-03-03 18:05] yelllowsin commented on #1558
@joesixpack do you still have this issue? If not, can this one be closed? On Debian node.sh didn't detected my public ip, installing dnsutils did the trick for me. But since this issue is so old i imagine it must be fixed already.

[2020-03-03 18:18] yelllowsin commented on #1305
@john-harmony I think this one can be closed, no? We already swapped BEP20 tokens on Binance into Native tokens.

[2020-03-03 19:03] janet-harmony commented on #2241
Saw this error again while trying to upgrade Shard2 on OSTN (3/2).
[code]

[2020-03-03 19:05] fxfactorial commented on #2241
It’s a data consistency issue , the db was corrupted and hence cant start up right . Clearing the DB should fix it but bigger issue is graceful shutdown

Sent from my iPhone

[2020-03-03 22:12] mindstyle85 commented on #2203
@fxfactorial @Daniel-VDM

todays one from master branch:

node.sh: ############### Running Harmony Process ###############
Staking mode; node key e429cbf74e8ab28ed295999d179ad79827c7febe0208a6145aa91bbb60b68a0b1907de4c38573352cafe00c8105b1116 -> shard 2
beaconchain-is-nil:true shardchain-is-nil:falsenode.sh: node process finished with status 255
node.sh: restarting in 10s...
^Cnode.sh: received SI

[2020-03-03 22:51] mindstyle85 commented on #2203
with stacktrace:

node.sh: ############### Running Harmony Process ###############
Staking mode; node key e429cbf74e8ab28ed295999d179ad79827c7febe0208a6145aa91bbb60b68a0b1907de4c38573352cafe00c8105b1116 -> shard 2
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xb3a410]

goroutine 1 [running]:
github.com/harmony-

[2020-03-03 23:43] rlan35 commented on #2203
@mindstyle85 that's related to graceful shutdown, seems your node wasn't correctly shutdown and it's trying to repair by rolling back to the last checkpoint. But seems some data was corrupted, so the repair crashed. How did you shut down the node before? Any thing special happened?

[2020-03-04 00:12] mindstyle85 commented on #2203
@rlan35 nothing, basically stopped previous one (old OSTN version node) with ctrl+c (graceful shutdown), then wiped directory clean save the bls key, then downloaded new node.sh and ran it

[2020-03-04 00:14] #1520 closed

[2020-03-04 00:21] Daniel-VDM opened #2370 "Jupyter notebook server for live analysis of logs, open for the public to view."
We want pages like [this](https://harmony-reports.s3-us-west-1.amazonaws.com/2020_02-26_log_analysis.html) to be publically viewable (no editable) and we want the flow to be neater for log analysis.

[2020-03-04 08:58] denniswon commented on #2330
need to do a scenario where you have the block header which has slashed and apply it to state like how blocks are verified in general via state process

[2020-03-04 09:52] sophoah commented on #2235
@BrunoMarshall I think that one can be closed. Now it seems like when the flag active is false we are not elected, and we are elected when that flag is true.

[2020-03-04 09:54] sophoah commented on #2211
now fixed in
[code]

@rlan35 can be moved to done.

[2020-03-04 09:54] #2211 closed

[2020-03-04 10:01] sophoah commented on #2212
@rlan35 think that one is duplicate with @mindstyle85 with the availability signing

[2020-03-04 13:18] BrunoMarshall commented on #2349
Thank you @mikedoan

[2020-03-04 13:29] mindstyle85 commented on #2349
@mikedoan current voting power seems broken:

![screens](https://user-images.githubusercontent.com/55639830/75884162-9d5a5d00-5e24-11ea-93cf-1d11f0d2c413.png)

[2020-03-04 13:32] BrunoMarshall commented on #2235
I confirm, with the latest version this issue is gone, Thank you all! highly appreciate!
i will close this issue

[2020-03-04 13:32] #2235 closed

[2020-03-04 16:00] yelllowsin commented on #2349
Steps to reproduce the issue:

1. Access page: https://staking.harmony.one/validators with a signed account.
![glitch](https://user-images.githubusercontent.com/7217595/75897785-e1933080-5e17-11ea-817f-79ebbfd66665.jpg)
2. Now click in any of the validators list and then hit the Back button on the browser. You are left with voting power changing:
![voting_power](https://user-images.githubuserconte

[2020-03-04 20:11] fxfactorial opened #2373 "explorer RPC is panicing for node metadata RPC"
noticed on the watchdog report page that there was an empty reply received by watchdog on the IPs associated with explorer nodes.

I suspect that this commit ae362c24c62055521f859a891657364009dbe20d caused breakage because it serializes to a hex str of the public keys,

[code]

which won't make sense on explorer.

see this shell log as a way to reproduce:

[code]

[2020-03-04 20:29] mirrormirage0 opened #2374 "Duplicate key names imported with same private key ./hmy keys import-private-key"
**Describe the bug**
Trying to import the same private key more than once with hmy results in duplicate names for the same address.

**To Reproduce**
Steps to reproduce the behavior:
1. `./hmy keys import-private-key 940cd10582bc43463a9a608421fde176b15451db53f79b48e86ffcd4ce1cbf67`
2. This will import the key once. Now run the command again.
3. `./hmy keys import-private-key 940cd10582bc43463a9a60

[2020-03-04 22:29] fxfactorial opened #2376 "validate that all keys given for multibls keys qualify for same shard"
using this easy logic:

[code]

need to validate the all the keys given for multi at startup in main.go will end up on the same shard and need to do it by network too since need to know the right shard count to mod by.

[2020-03-04 23:30] mikedoan commented on #2345
fixed

[2020-03-04 23:30] #2345 closed

[2020-03-05 00:00] mindstyle85 opened #2381 "node.sh stopped bingoing v5637"
**Describe the bug**

I ran my validator with multibls (2 keys) on shard 2, with binary v5637 on Ubuntu 16.04. It worked for a while then stopped producing bingos, this is the log errors:

`{"level":"info","port":"9000","ip":"XXXXXX","error":"leveldb: not found","dataLen":0,"caller":"/mnt/jenkins/workspace/harmony-release/harmony/core/blockchain.go:1967","time":"2020-03-05T00:44:23.433997701+01:00

[2020-03-05 00:02] AndyBoWu commented on #2381
@gupadhyaya  for your attention

[2020-03-05 00:02] gupadhyaya commented on #2373
fixed in https://github.com/harmony-one/harmony/pull/2379

[2020-03-05 00:49] #2373 closed

[2020-03-05 11:51] mindstyle85 opened #2388 "inactive validator with 100 keys was in comittee but didnt sign any blocks at all"
**Describe the bug**

So this validator that was created a few hours ago was in the comittee for a few hours, till epoch 97 (height over 7k blocks), while it was created at block height 4052. It has 1 ONE staked and 100 bls keys attached, so it brought down the median to 0.01 ONE, all the while it signed NO blocks. For reference, this validator was created by @SebastianJ

./hmy -n https://api.s0.o

[2020-03-05 12:55] mindstyle85 commented on #2203
another one from a pangaea volunteer, fresh instance, first try, no ctrl +c :

When I launch my node I have this output : Staking mode; node key 6d9d69fad42b472e03551bcb9a9459172555cba5d4362b15455b1c1ad8dd48bac1cd3800eb3f1232fa57e9e3103d2414 -> shard 0
beaconchain-is-nil:true shardchain-is-nil:truenode.sh: node process finished with status 255
node.sh: restarting in 10s...          My OS is Debian

[2020-03-05 17:21] mindstyle85 opened #2389 "median stake is wrong"
**Describe the bug**

this derives from https://github.com/harmony-one/harmony/issues/2388

After @SebastianJ made another bubz validator with 100 keys and 1 ONE stake, and this validator left comittee after several hours, the median stake is still left at 0.01 ONE:

./hmy blockchain median-stake --node="https://api.s0.os.hmny.io"
{
  "id": "0",
  "jsonrpc": "2.0",
  "result": 10000000000000000
}

[2020-03-05 17:24] mindstyle85 opened #2390 "Comittee size is too big"
**Describe the bug**

So as per @rlan35 current external seats are 4x25 = 100 seats available.

Current comittee sizes by shards:

Shard 0 Current Commitee (Top)
policy: SuperMajorityStake
member count: 27

Shard 1 Current Commitee (Top)
policy: SuperMajorityStake
member count: 107

Shard 2 Current Commitee (Top)
policy: SuperMajorityStake
member count: 36

Shard 3 Current Commitee (Top)
policy: S

[2020-03-05 17:55] rlan35 opened #2392 "Pending slashes maybe deleted before proposed in block"
DeletePendingSlashingCandidates is always called on each block, it may happen that a pending slash is deleted before it's proposed. We should blindly clear all pending. We should only remove the invalid slashes during block proposal.

[2020-03-05 17:56] rlan35 opened #2393 "[Slashing] Finish the missing todo and checks on all slashing logic."

[2020-03-05 18:08] #1558 closed

[2020-03-05 18:46] flicker-harmony opened #2394 "[Feature] RPC API speed up"
# Problem/limitation At Hand

RPC API requests execution speed can be improved. @fxfactorial suggested replacing standard ethereum hmy api json encoder with faster json encoder, this one for example https://github.com/francoispqt/gojay (fastest). Though it will require making changes to ethereum rpc module https://github.com/ethereum/go-ethereum/tree/master/rpc which mean we will have to greatly e

[2020-03-05 18:50] flicker-harmony opened #2395 "Reduce RPC API codebase"
## Summary

Using interfaces and golang struct "inheritance" remove common methods from v1 and v2 versions.

## Current Design

Right now many methods are just common and copied for both v1 and v2 versions.

## Problems

Double codebase makes adding features more difficult and supporting both APIs. Even though we will use just v2 version in future, still double v1 codebase is bad.

## Proposal

Us

[2020-03-05 19:00] flicker-harmony opened #2397 "[Feature] RPC API block explorer new features support"
# Problem/limitation At Hand

I guess we should deliver some new features to block explorer by end of Q2 (dates are arguable as we didn't set them publicly), working with @mikedoan @potvik: smart contracts interface and functionality to view them, harmony token pages (and ratings by top tokens), addresses rating (by balance, other params, maybe), sorting functionality of different lists (blocks, t

[2020-03-05 19:21] yelllowsin opened #2398 "Support different passwords for multi BLS keys"
Currently latest `node.sh` version only supports one password to load all BLS keys using parameter -M. As discussed on Discord @gupadhyaya, please add support for a different password on each BLS key. Command used to run the node:

`./node.sh -M -N staking -z -S`

Node Version:

[code]

[2020-03-05 19:33] janet-harmony commented on #2390
The `Member Count` on Watchdog also includes internal Harmony nodes, so the total count should be 200.

[2020-03-05 23:33] gupadhyaya commented on #2381
@mindstyle85 steps to reproduce?

[2020-03-06 00:24] #2376 closed

[2020-03-06 01:22] mindstyle85 commented on #2381
@gupadhyaya

basically what above, but this is not due to multi bls i believe,  this is a node.sh issue and not using sudo on the launch command.

I was able to reproduce it today basically the same way, ubuntu 16.04 OS -> v5637 binary and node.sh, start it without sudo. In the logs you should see the tcp errors.

Then next, this error below is due to graceful shutdown not completely shutting down

[2020-03-06 04:23] gizemcakil opened #2403 "Validator becomes non-elected if I try to do multiBLS with keys from different shards, attaching to same instance"
**Describe the bug**
MultiBLS wrong use causes validator to be kicked out completely

**To Reproduce**
- Validator has been running with 1 BLS key
- Generated 2 new BLS keys and ran the staking node within the same tmux window
- BLS keys are in different shards: 1 key is in shard-1, 1 key is shard-3
Output:
- Explorer shows 3 nodes in my validator account
- Validator became 'not-elected' after add

[2020-03-06 06:39] nyetwurk commented on #1770
[code]

[2020-03-06 08:06] LeoHChen commented on #1729
I believe this one has been fixed.

[2020-03-06 08:06] #1729 closed

[2020-03-06 22:29] lijiang2087 opened #2405 "docker ready for running validator on mac"

[2020-03-06 22:36] lijiang2087 opened #2406 "uptime monitor for pangaea/partner networks"

[2020-03-06 22:37] lijiang2087 opened #2407 "monitor all amazon machines by eng/biz teams, shutdown feature devnets over nights"

[2020-03-06 22:37] lijiang2087 opened #2409 "get validator list in json, https://staking.harmony.one/validators, staking analytics"

[2020-03-06 22:48] lijiang2087 opened #2410 "private key rotation for team nodes"

[2020-03-06 22:48] lijiang2087 opened #2411 "node ssh access management for ops team"

[2020-03-06 22:49] lijiang2087 opened #2412 "separate ops environments for testnets vs mainnet"

[2020-03-06 22:50] lijiang2087 opened #2413 "fix faucet on P2 launch for realistic token distribution"

[2020-03-06 22:51] lijiang2087 opened #2414 "publish js sdk website to public"

[2020-03-06 22:51] lijiang2087 opened #2415 "add source code link next to the copyright notice on the website, two explorers"

[2020-03-06 22:55] lijiang2087 opened #2416 "per-commit one-click deploy/test for feature devnet"

[2020-03-06 22:55] lijiang2087 opened #2417 "dns node migration to new toolschain w/ state prune & multikey"

[2020-03-06 23:02] lijiang2087 opened #2419 "use amazon kms for node paraphrase"

[2020-03-06 23:28] Daniel-VDM opened #2421 "Bad block on s0 leader of OSTN when doing rolling upgrade."
**Describe the bug**
A rolling upgrade was done on OSTN but the leader at the time was not able to be upgraded and got a bad block with the following message:

[code]

View change triggered and consensus remained.

This might be because the upgrade took place over multiple epochs.

Note that the leader was also upgraded last (all clients were on new node version.)

[2020-03-06 23:57] mindstyle85 commented on #2389
to update, the median stake is still at 0.01

[2020-03-07 01:41] lijiang2087 opened #2422 "fully dockize for multi cloud in node deploy"

[2020-03-07 20:02] Daniel-VDM opened #2425 "S0 syncing is really long for staking network"
**Describe the bug**
Syncing a node on shard 0 of the open staking network is taking a really long time. Compared to non-beacon shards. I presume it has to do with replaying the staking transactions.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new validator on OSTN and make sure that you have a s0 BLS key.
2. Start syncing and check progress with `./hmy blockchain latest-header`

[2020-03-07 20:05] mindstyle85 commented on #2425
I can confirm, we have already  talked about this with @fxfactorial , basically when syncing i see something named validator snapshot (a huge wall of text afterwards), those take a long time to sync and usually pause after each snapshot. Took me about 30min to sync 8k blocks at that time

[2020-03-07 22:58] rlan35 commented on #2425
@SebastianJ can you help do a CPU profiling on a sync'ing node? @Daniel-VDM can post more logs on the sync'ing.

[2020-03-07 23:09] Daniel-VDM commented on #2425
Some logs of a new node syncing [here](https://gist.github.com/Daniel-VDM/732bb2330d16f8e522c91422398f05f2).

[2020-03-07 23:36] LeoHChen commented on #2425
we shall at least limit the debug log to save some I/O time.

[2020-03-08 08:42] SebastianJ commented on #2425
I've started memory (allocs/heap) and cpu profiling on a shard 0 OSTN node, it will export PDF profiling dumps every 5 minutes:

[code]

I'll let it run for a few hours and will report back my findings + upload the profiles somewhere.

[2020-03-08 10:39] sophoah commented on #2425
confirming the slow sync as well here reported by volunteers and also tested on a my vps. It gets slower and slower as the blocks gets added to it

[2020-03-08 11:09] BrunoMarshall commented on #2398
have the same issue. I´m doing different passwords for different BLS keys.
Running the node is only asking 1 password.

**Currently ALL BLS keys inside the folder need to have the same password**
- Solution founded was to create new BLS keys with the same password.

Question: do we really need password for BLS keys? Based in the fact that the wallet creation has the option to add password

[2020-03-08 12:13] SebastianJ commented on #2425
Here are the profiling reports: [pprof.tar.gz](http://tools.harmony.one.s3.amazonaws.com/pprof.tar.gz)

A common denominator for both the memory and CPU reports is that they seem to indicate that chain.AccumulateRewards is using both a lot of memory as well as CPU.

[2020-03-09 13:28] JB273 opened #2431 "MultiBLS - MK5 testcase doesn't have the expected outcome!"
While testing MK5 case it doesn't work as expected on OSTN. (will be edited further today)

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure test MK4 is working correctly, this means we have an elected validator with 2 BLSkeys running
2. Start the MK5 test by shutting down the node.sh process on node2
3. Wait for epoch change
4. Validator goes from `elected` to `not elected` and is n

[2020-03-09 15:37] sophoah commented on #2431
In order to test MK5, I am making sure MK4 is working fine
node 1 runs 1 BLS in shard 0 (with node.sh and -k):
[code]
node 2 run 1 BLS in shard 0 (with node.sh and -k):
[code]
Checks that :
- Both are BINGO-ing without issue
- validator active flag is set as true
- validator is elected

1 min before change of next epoch, i am doing a CTRL+C of node 2

Expectation is that
- validator active flag st

[2020-03-09 15:57] sophoah opened #2433 "edit active flag to true is not updated until epoch change if BLS is elected"
**Describe the bug**
Edit active flag to true is not updated until epoch change if BLS is elected

As reported in #2431 MK5 set the validator flag to false when node1 is stopped. During that time, (ie wanna start node1) editing the flag to active is not working until epoch change. During that time, the validator is still elected.

Tested the edit-validator active tag set to true when validator is

[2020-03-09 19:17] janet-harmony commented on #2415
Which website & what do you mean by two explorers?

[2020-03-09 20:20] fxfactorial opened #2435 "Explanation of cause of 03/07/2020 broken consensus"
This past Saturday a series of cascading failures caused consensus to break. The following is my working theory:

The opening staking testnet (OSTN) was on commit 87963bb791d9ce7e5113ba05718ead6ac6db2950 at time of issue and blockchain history already had records of successful slashes applied to double signing done by some validators.

1. Shard 0 leader ran out of disk space and the logger hung be

[2020-03-09 20:40] lijiang2087 commented on #2435
so the fix is done, but not merged?

[2020-03-09 20:46] fxfactorial commented on #2435
Correct

[2020-03-09 21:46] fxfactorial commented on #2431
You can still earn rewards if your validator is set to inactive. The moment of important on when the value of the flag matters is at new epoch time, at that block because that's when commitee assignment occurs.

The field will be changed soon in this PR

https://github.com/harmony-one/harmony/pull/2396

[2020-03-09 21:55] fxfactorial commented on #2336
done in https://github.com/harmony-one/harmony/pull/2396

[2020-03-09 21:55] #2336 closed

[2020-03-09 22:04] AndyBoWu commented on #2435
Is there any reason why the leader 0 consumed the 15 GB of space that quick?

IIRC, it really takes a while for a small network like OSTN. And, it should happen to a non-zero shard first, cuz for any other shards, they have to store 2 DB (one for its own shard, one for shard 0).

[2020-03-09 22:35] fxfactorial commented on #2335
fixed in https://github.com/harmony-one/harmony/pull/2396

[2020-03-09 22:35] #2335 closed

[2020-03-09 22:36] fxfactorial commented on #2334
Sanity check moved to verify, https://github.com/harmony-one/harmony/pull/2396

[2020-03-09 22:36] #2334 closed

[2020-03-09 22:36] fxfactorial commented on #2332
not needed per original usecase of not applying a slash again since already can just check validator eposstatus field https://github.com/harmony-one/harmony/pull/2396

[2020-03-09 22:36] #2332 closed

[2020-03-09 22:50] fxfactorial commented on #2435
Because there was a 100-BLS key validator which was marshalled to JSON on every block

[2020-03-09 22:57] MaggieWang-Harmony opened #2438 "[Feature] suggestion on validator page from TGI"
some feature improvement suggestions from TGI guests:
https://docs.google.com/document/d/1kugdttg1jy2Pemb-5RLls4z4tc1sTJOWSvFt9n0Fh9k/edit

[2020-03-09 23:00] denniswon opened #2439 "[China] Staking Explorer not usable using mainland China network due to network firewall"
**Describe the bug**
Staking Explorer not usable using mainland China network due to network firewall
Confirmed by the folks in China.

**To Reproduce**
Steps to reproduce the behavior:
1. Coordinate with the China team of Harmony for testing support.

**Expected behavior**
Staking explorer full usability.

[2020-03-09 23:01] denniswon commented on #2439
cc: @LeoHChen for visibility

[2020-03-09 23:03] fxfactorial commented on #2337
Update: Will return in the broader question about delegation as list in wrapper

[2020-03-09 23:06] denniswon opened #2440 "[China] Staking Explorer and Block Explorer experience very high loading time/latency when accessed from non-US regions"
**Describe the bug**
Staking Explorer and Block Explorer experience very high loading time/latency when accessed from non-US regions.
Reported by the Harmony team members in non-US regions.

**To Reproduce**
Steps to reproduce the behavior:
1. Access https://staking.harmony.one and https://explorer.harmony.one from regions far away from US where the backend is hosted.
- Also, one could try using w

[2020-03-09 23:07] denniswon commented on #2440
cc: @LeoHChen

[2020-03-09 23:09] MaggieWang-Harmony commented on #2438
- users don’t want to do arithmetic on return and fee. most users only care about their net return. we should have one column showing their “net return” instead of these two columns
- we should round about to bps (.001%)  instead of %. this data is fake but in reality we may also end up having many “identical” validator because of roundabout

- users want to know reward “safety-efficiency” in a di

[2020-03-10 02:45] fxfactorial commented on #2333
Done in https://github.com/harmony-one/harmony/pull/2396

[2020-03-10 02:45] #2333 closed

[2020-03-10 04:40] janet-harmony opened #2442 "[RPC] Validator Information error, leveldb: not found"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download latest CLI
2. Query for validator information

**Expected behavior**
Correct validator information return.

**Environment (please complete the following information):**
 - OS: Linux

**Additional context**
Problem resolves on next epoch.

[2020-03-10 04:55] fxfactorial commented on #2442
Fixed in https://github.com/harmony-one/harmony/pull/2396

[2020-03-10 06:58] bitcodernull opened #2443 "validator create on mainnet"
i want to know if i can  apply for a validator on mainnet now?
i found it is valid on staking network

[2020-03-10 07:24] janet-harmony opened #2444 "[Explorer] Missing Shard 2/3 transactions from Explorer account page"
**Describe the bug**
Transactions from Shard 3 missing on account page on Explorer.

Address: https://explorer.harmony.one/#/address/one12wd4crsczqg969red0mvm2t4mhtvk5m328yxkx
Transactions: https://explorer.harmony.one/#/tx/0xce2636bfec2ea3cc7da42bc1fcbf21181d943c3fe34227460b198fd53ea95831
https://explorer.harmony.one/#/tx/0x75c3e87909296b8869006b25e9df18629d96e6f16ea03cbeeaa5d5d1cd3975eb

Address

[2020-03-10 10:33] mirrormirage0 opened #2445 "Chrome Extension - Redirects to firebase URL instead of staking.harmony.one"
**Describe the bug**
Clicking on "Go to Harmony" button next to the wallet in Chrome extension takes you to firebase url, instead of staking.harmony.one

**To Reproduce**
Steps to reproduce the behavior:
1. Install Chrome extension.
2. Create or import a wallet
3. Click on "Go to Harmony" button next to the wallet.

**Expected behavior**
Should open up staking.harmony.one , not the firebase URL

*

[2020-03-10 11:01] mindstyle85 commented on #2203
@fxfactorial @SebastianJ this one happened just now on Seb's staking/tx tests:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xa80569]

goroutine 1 [running]:
github.com/SebastianJ/harmony-tf/scenarios/staking/delegation/delegate.StandardScenario(0xc0003ae94c, 0x2, 0xc0003ae940, 0x8, 0xc0003b4dc0, 0x1c, 0x0, 0x

[2020-03-10 11:04] mirrormirage0 opened #2446 "Chrome extension - Unable to stake"
**Describe the bug**
Unable to send staking transactions. Chain-ID error

**To Reproduce**
Steps to reproduce the behavior:
1. Install 0.0.7 version of chrome extension.
2. Try to Stake tokens.
3. Fails with error.  **"txnHash": "transaction failed:current chain id:3: invalid chain id for signer"**

**Expected behavior**
Staking Transaction completes successfully.

**Screenshots**
![image](https:/

[2020-03-10 11:06] mirrormirage0 commented on #2445
Known issue. Fixed in the latest build.zip

[2020-03-10 11:06] #2445 closed

[2020-03-10 11:29] sophoah commented on #2442
confirmed I have the issue as well
[code]

[2020-03-10 14:10] BrunoMarshall commented on #2348
This issue happens again Version-v5656-master

1.- tried to create validator without fund

2.-Got error message

3.- Recieved 10000

4.- Tried to create validator:
![image](https://user-images.githubusercontent.com/35432495/76320430-fae92080-62e0-11ea-879e-ba6bb763fa53.png)
5. - validator created even with showing wrong message

[2020-03-10 15:16] yelllowsin opened #2447 "hmy_cli chain-id required for localhost nodes"
In the latest hmy_cli version chain-id is aked when doing a transfer using localhost:

`./hmy transfer --from one170xqsfzm4xdmuyax54t5pvtp5l5yt66u50ctrp --to one170xqsfzm4xdmuyax54t5pvtp5l5yt66u50ctrp --from-shard 0 --to-shard 0 --amount 1`

Output:

[code]

Accordingly to @fxfactorial this is not an expected behavior because the same chain-id is not asked when we use --node as a parameter (exampl

[2020-03-10 15:39] mindstyle85 commented on #2388
bump @fxfactorial @rlan35

[2020-03-10 15:40] mindstyle85 commented on #2389
on today's version v5650 it happened again.. @SebastianJ created a few non active validators which caused median stake to go below 1, now that those validators are kicked out of comittee (20-30min after), the median is still below 1 @fxfactorial @rlan35

[2020-03-10 16:30] LeoHChen commented on #2444
@AndyBoWu , can you check the availability of the shard3 end point?

[2020-03-10 16:38] AndyBoWu commented on #2444
@janet-harmony @LeoHChen

I have checked the both target groups pointing to the alb for shard 3. Both instances are **healthy** from AWS's perspective.

Let me ssh into the instances to check it out.

[2020-03-10 16:41] AndyBoWu commented on #2444
![Screen Shot 2020-03-10 at 9 41 13 AM](https://user-images.githubusercontent.com/5258417/76336500-54d2f180-62b3-11ea-8fd2-1340732586c1.png)

[2020-03-10 16:52] AndyBoWu commented on #2444
on the first exp node, we have "blockNumber":2612864, - service is up and blockNumber is increasing. So all good.

[2020-03-10 16:55] AndyBoWu commented on #2444
on the second exp node, we have "blockNumber":2612885," - service is up and blockNumber is increasing too. So it looks good in general.

[2020-03-10 16:56] yelllowsin commented on #2398
Minor design improvement. When this is implemented, if you could also break the line for every BLS keys used when running the node for better visualization it would be nice:

![image](https://user-images.githubusercontent.com/7217595/76337977-ddaf5480-62d6-11ea-9cae-14fc8258e01b.png)

[2020-03-10 17:01] AndyBoWu commented on #2444
Related to this https://github.com/harmony-one/harmony-ops/issues/402 @janet-harmony ?

Can you try the same api call on postman? My guess is that you can get the expected result from Postman.

[2020-03-10 17:12] AndyBoWu commented on #2444
Did some troubleshooting on my side.

The results returned by Postman only filter the result `to` address for this address `one12wd4crsczqg969red0mvm2t4mhtvk5m328yxkx` on postman for `hmy_getTransactionsHistory` api call. Any transaction send from this address is not listed.

Sounds like an api design error? @janet-harmony @LeoHChen , can you please verify this?

[2020-03-10 17:14] AndyBoWu commented on #2444
![Screen Shot 2020-03-10 at 10 13 50 AM](https://user-images.githubusercontent.com/5258417/76339842-e17fae80-62b7-11ea-9558-44c1f2b06f95.png)

[2020-03-10 17:38] CryptosWolfOfAllStreets commented on #2447
performing the same transfer i was able to get a result by adding --chain-id pangaea and also by using the --node feature too.
This worked;
./hmy --node="https://api.s0.os.hmny.io" transfer --from one10jvjrtwpz2sux2ngktg3kq7m3sdz5p5au5l8c8 --to one1vam2vq93j0ea7t4vhy9d7dx636r70y6thn68rz --from-shard 0 --to-shard 0 --amount 5000

as did this :
./hmy transfer --from one10jvjrtwpz2sux2ngktg3kq7m3sdz5

[2020-03-10 18:41] janet-harmony commented on #2444
My test transactions were to & from the same address. `one12wd4crsczqg969red0mvm2t4mhtvk5m328yxkx`

[2020-03-10 19:02] AndyBoWu commented on #2444
I noticed that part too. can you try to send to a different address? @janet-harmony

[2020-03-10 19:05] fxfactorial commented on #2331
not needed anyway

[2020-03-10 19:05] #2331 closed

[2020-03-10 19:17] janet-harmony commented on #2444
Doesn't show up in either account page & doesn't show up for `hmy_getTransactionsHistory` for either account
https://explorer.harmony.one/#/tx/0xbfd7b6c91917682f53b703daa56c7b5b30a6d3e6c8f1b65bf79fe55958762d60

Also checked API call through Postman

[2020-03-10 19:35] fxfactorial commented on #2447
This PR will improve the error message to include chain ID given, https://github.com/harmony-one/harmony/pull/2396

[2020-03-10 20:16] #2398 closed

[2020-03-10 21:30] gupadhyaya opened #2450 "Multiple BLS keys per node"
### Context
A Harmony validator can register with multiple bls keys, however current design requires that validator spin up a node for each of their bls keys to sign and earn reward. Running a node for each of their bls keys incurs substantial cost.

### Proposal
A validator can utilize a single node (or a small set of nodes) to sign for their bls keys. The only constraint is that a node can only

[2020-03-10 21:46] fxfactorial commented on #2443
Open staking is not on mainnet yet but you can join us as a pangaea volunteer for testing, ask the p-ops folks on pangaea telegram group to help you .

[2020-03-10 21:46] #2443 closed

[2020-03-10 21:56] fxfactorial opened #2451 "Implementation of double-signing protection with slashing"
Double signing is a bad situation when a validator node signing in the commit phase of consensus on an alternative vote to one that they already submitted.

This de facto is the validator trying to cause a hard fork, as such the blockchain protocol must protection itself from such scenarios and punish the offender.

Our current implemented in master design is based off this design document,

https

[2020-03-10 22:07] fxfactorial commented on #2393
should be implemented in https://github.com/harmony-one/harmony/pull/2396

[2020-03-10 22:07] #2393 closed

[2020-03-10 22:08] fxfactorial opened #2452 "[Feature] Integrate failed smart contract calls into existing errorSink"
...so that we make a corresponding `hmy failures contracts` call

[2020-03-10 22:25] BrunoMarshall commented on #2450
This is really a great feature, I'm currently running a node with 5 bls keys (5 validators) and I'm really impressed. I think that the major driver for me is to avoid the cost of extra instances to run other keys.
There are some small thing the need to be added, to turn the multi blskeys more user friendly, for example:
- choose automatically the blskeys in the same shard from the folder
- display

[2020-03-10 22:58] lijiang2087 commented on #2415
https://github.com/harmony-one/harmony-dashboard

[2020-03-10 23:19] LeoHChen commented on #2444
we should test probably all the shards.  @janet-harmony , can you check on shard 1/2 as well?

[2020-03-11 00:07] mindstyle85 commented on #2450
While this is a great feature for reducing costs for Harmony as well as the validators, I think it is greatly outshined by the fact that it is a step backwards from decentralization and also from network security, since there will be less instances running due to it, which will cause the network to be more susceptible for DDOS and other attacks. So in my opinion cost saving <<<<< decentralization

[2020-03-11 00:11] janet-harmony commented on #2444
https://explorer.harmony.one/#/address/one12wd4crsczqg969red0mvm2t4mhtvk5m328yxkx
The top 2 transactions are cross shard 1 & 2 to 0. They show up.

[2020-03-11 00:13] lijiang2087 opened #2455 "integrate all tests during deploy"

[2020-03-11 02:16] janet-harmony opened #2456 "Node not signing blocks & "unknown ancestor""
**Describe the bug**
Created a validator on OSTN, but the node isn't signing blocks.
There are a lot of "unknown ancestor" errors, but the node catches back up every ~8-10ish blocks.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run a validator.
2. Check that the validator is signing blocks.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Sc

[2020-03-11 03:56] LeoHChen commented on #2444
let me clarify, did the tx went through shard 3? and just didn't show up in explorer?

[2020-03-11 04:54] janet-harmony commented on #2444
The transaction itself shows up on explorer & the transaction succeeded, but it doesn't show up in the list of transactions by account.

[2020-03-11 04:58] SebastianJ commented on #2389
This issue is still possible to reproduce, even after the new OSTN release using master/commit `51d5280e`

[2020-03-11 06:09] NiteeshHarmony opened #2457 "Deployment of Jupyter notebook machine for YC to do log analysis."

[2020-03-11 06:10] NiteeshHarmony opened #2458 "Add unit tests for node.go and node/worker.go."

[2020-03-11 06:11] NiteeshHarmony opened #2459 "Revamp PR testing in Travis w/ Docker to include staking tests (w/ Seb)"

[2020-03-11 06:12] NiteeshHarmony opened #2460 "delegate CLI, RPC, tests for wallet / transaction / staking to minh/vlad"

[2020-03-11 06:13] NiteeshHarmony opened #2461 "automated deploy (connect explorer, dashboard) and deploy checklists (status, notify)"

[2020-03-11 06:14] NiteeshHarmony opened #2462 "tracking unittest coverage, integration tests during deploy, selenium ux with yuriy/seb"

[2020-03-11 06:15] NiteeshHarmony opened #2463 "shard database hourly/nightly snapshot (or 50 epoches)"

[2020-03-11 06:16] NiteeshHarmony opened #2464 "staking.harmony.one staking stats & usages from google analytics and ./hmy utility committees (google analytics: unique visitors, staking usage, delegation total)"
# Overview

staking.harmony.one staking stats & usages from google analytics and ./hmy utility committees (google analytics: unique visitors, staking usage, delegation total)

[2020-03-11 06:17] NiteeshHarmony opened #2465 "uptime robot like status.harmony.one for staking & partner testnets"

[2020-03-11 06:24] NiteeshHarmony opened #2466 "faucet w/ planned allocation of tokens for p2 economics testing"
sahil

[2020-03-11 06:25] NiteeshHarmony opened #2467 "voting power in one epoch (janet)"

[2020-03-11 06:27] NiteeshHarmony opened #2468 "delegation scaling to 1M users, O(n^2), gas fees, block reward every epoch (instead of every block) for 1000 validators (30-second epoch block time); slow consensus (cross link) and slow sync (new node) when 10k validators & 100k delegations"

[2020-03-11 06:28] NiteeshHarmony opened #2469 "block reward: burn leader reward"

[2020-03-11 06:28] NiteeshHarmony opened #2470 "rpc limit to explorer nodes, not regular nodes"

[2020-03-11 06:29] NiteeshHarmony opened #2471 "bug: dns node upgrade to m5.large"
https://github.com/harmony-one/harmony/issues/2042

[2020-03-11 06:30] NiteeshHarmony opened #2472 "bug: out of memory during stress test"
https://github.com/harmony-one/harmony/issues/2187

[2020-03-11 06:31] NiteeshHarmony opened #2473 "block proposal"

[2020-03-11 06:32] NiteeshHarmony opened #2474 "staking logic"

[2020-03-11 06:32] NiteeshHarmony opened #2475 "slashing, EPoS w/ edgar"

[2020-03-11 06:33] NiteeshHarmony opened #2476 "unittest: slashing, block reward"

[2020-03-11 06:34] NiteeshHarmony opened #2477 "slashing percentage, lowering stake balance"
Sahil

[2020-03-11 06:34] NiteeshHarmony opened #2478 "staking percentage from 35% to 66%"
Sahil

[2020-03-11 12:34] sophoah commented on #2425
Issue is still here in ```Harmony (C) 2020. harmony, version v5659-master-20191208.0-282-g51d5280e (jenkins@ 2020-03-11T01:01:50+0000)```

[2020-03-11 12:47] sophoah opened #2480 "Is there a way to query the current total stake for a validator"
**Describe the bug**
We have been looking at a way to query the total-stake for a specific validator using a cli command. The validator information shows the list of delegated token that we could sum up but would have been nice to have

in the validator information a field with the sum of all delegation
[code]

[2020-03-11 13:59] sophoah commented on #2450
Nothing really much to add here. That feature is for sure really great to save on network/disk space/number of node instances, it works really well and had it tested with 100 BLS key at once. However, security is real concern here, If my node goes dark this is 100 BLS that goes offline and that is a big risk for the network.

[2020-03-11 14:33] sophoah commented on #2469
why just leader ? why not test based on internal vs external nodes?

[2020-03-11 14:34] sophoah commented on #2475
@fxfactorial what are we trying to implement here ?

[2020-03-11 14:36] fxfactorial commented on #2475
Don’t know. I woke up and 30 new issues posted.

[2020-03-11 15:46] sophoah commented on #2447
I confirmed issue is still present in ```Harmony (C) 2020. hmy, version v318-dd0caea (ubuntu@harmony.one 2020-03-11T05:51:46+0000)```

[2020-03-11 16:13] sophoah opened #2481 "Validator node goes inactive then become active at first sync and validator creation"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1) start the node and sync (non shard 0)
2) once fully sync I am creating the validator
3) validator info shows my epos-eligibility-status to active
4) waiting for epoch change
5) got BINGO however my validator info epos-status is inactive
6) verified and I didn't earn reward
7) after a while validator info shows my epos-eligi

[2020-03-11 16:19] CryptosWolfOfAllStreets commented on #2481
my findings are as follows:

1) start the node and sync shard 3
2) once fully sync i am creating the validator
3) validator info shows my epos-eligibility-status to inactive
4) waitng for epoch change
5) got BINGO however my validator info epos-status is inactive
6) reward showing using
root@Wolfie:~# ./hmy --node https://api.s0.os.hmny.io blockchain validator information one10jvjrtwpz2sux2ngktg3k

[2020-03-11 16:20] SebastianJ opened #2482 "It's possible to create validators with ~200+ BLS keys"
**Describe the bug**
It's currently possible to create validators with up to a maximum of around 200 BLS keys (possibly even more if you minimize the other create validator payload data so that the tx stays <32kb).

Here's an example of such a validator:
`./hmy --node https://api.s0.os.hmny.io blockchain validator information one1a7ymxzys5te4rlam2966kmrzannsy3zrwpdvnz`

These transactions with ~20

[2020-03-11 16:21] CryptosWolfOfAllStreets commented on #2481
at the next epoch Bingo started again and i was again elected BUT status of eligibility now inactive :

"/mnt/jenkins/workspace/harmony-release/harmony/node/node_handler.go:466","time":"2020-03-11T16:20:05.698143282Z","message":"BINGO !!! Reached Consensus"}
{"level":"info","port":"9000","ip":"144.202.105.13","blockNum":6866,"epochNum":73,"ViewId":6866,"blockHash":"0x6bd6941b1aab5fedf20d4c98ea5eea

[2020-03-11 16:22] BrunoMarshall commented on #2481
Same here in shard 2
![image](https://user-images.githubusercontent.com/35432495/76439410-a87d3200-63bc-11ea-8158-5969b72a7d35.png)
![image](https://user-images.githubusercontent.com/35432495/76439452-b29f3080-63bc-11ea-837d-4a9ae5c0d191.png)
![image](https://user-images.githubusercontent.com/35432495/76439472-b8951180-63bc-11ea-950a-b5fe7e1ad59b.png)
here was the procedure:
1) start the node and

[2020-03-11 16:55] CryptosWolfOfAllStreets opened #2483 "Harmony Website JS issue"
Seems like messenger property on harmony js object didn’t get set right.

![image](https://user-images.githubusercontent.com/41840990/76442636-24757b00-63b9-11ea-8154-3adc140c7f60.png)

[2020-03-11 17:40] lijiang2087 commented on #2467
will discuss / write out more with @stse first.

[2020-03-11 18:47] fxfactorial commented on #2480
good idea, will implement today

[2020-03-11 22:57] fxfactorial opened #2486 "Unify Staking Transactions With Plain Transactions (cleverness with custom decode)"
This mistake in design from last fall is causing lots of byte thrashing and heavily contributing to OOM issues.

[2020-03-11 22:58] fxfactorial opened #2487 "Make accumulate reward be concurrent (still bounded)"
Accumulate reward is becoming quite slow on beaconchain, the processing of crosslinks is done single threaded but could be made concurrent.

Originally I implemented it as concurrent code but in light of need to ship something correct rather than fast, I rewrote it as single threaded.

[2020-03-11 23:00] fxfactorial opened #2488 "Reduce memory pressure in accumulate reward due to voting power computation"
Accumulate reward puts lots of memory pressure via a computation to voting power done over and over which doesn't actually need a fresh computation.

[2020-03-11 23:19] lijiang2087 commented on #2464
google analytics: unique visitors, staking usage, delegation total

[2020-03-12 00:55] fxfactorial commented on #2480
implemented in https://github.com/harmony-one/harmony/pull/2484

[2020-03-12 00:55] #2480 closed

[2020-03-12 06:29] zerooneblock commented on #2450
In my opinion using multi BLS is a trade off, which in the end has more disadvantages/risks than advantages.
Advantages:
- reducing operational costs;
- easier management of multiple keys in case of no issues;

Disadvantages:
- reducing decentralization;
- increasing risks of getting a much higher penalty->in case the physical hardware has any defects or issues. Management of the keys and setup wi

[2020-03-12 06:49] BrunoMarshall commented on #2450
Maybe off-topic, but what about multi nodes per instance? Each node running in different shard, one key per shard, max 4 keys(validators) in total per instance

[2020-03-12 20:57] fxfactorial commented on #2388
Should be fixed in https://github.com/harmony-one/harmony/pulls

[2020-03-12 22:29] mindstyle85 commented on #2388
so fixed upon next restart/upgrade?

[2020-03-12 22:33] lijiang2087 opened #2491 "Mainnet (version v5036-v1.2.4-2-gd116332a), Mainnet (versions v5036-v1.2.4-2-gd116332a and v5036-v1.2.4-2-gd116332a)"
janet, on /status

can you add the network version next to the word like this, instead of putting it below. it's just a visual change.

Mainnet (version v5036-v1.2.4-2-gd116332a)
Mainnet (versions v5036-v1.2.4-2-gd116332a and v5036-v1.2.4-2-gd116332a)

[2020-03-12 22:36] lijiang2087 opened #2492 "status page: see /statuses"
on /status page, show the statuses of as many of these as can be automatically pulled:

master commit
consensus
block height in all shards
committes
block explorer
staking app engine
staking dashboard
faucet
binary upload
biz team validators
p-ops validators
community validators
validator rewards

[2020-03-12 23:14] fxfactorial commented on #2388
Yes should be

Sent from my iPhone

[2020-03-13 01:36] lijiang2087 opened #2493 "the validator command on CLI has too many fields"
too many unnecessary fields

[2020-03-13 01:53] fxfactorial commented on #2482
should be fixed in https://github.com/harmony-one/harmony/pull/2484

[2020-03-13 05:36] LeoHChen opened #2494 "[node] use viper to support better command line option"
## Summary

harmony node program use basic flag to define command line option support. We need to revamp it using latest library https://github.com/spf13/viper to support both command line option, plus configuration, and all kinds of configuration options.

## Current Design

Currently, we use basic flags support.

## Problems

No configuration file support, no environmental variable override supp

[2020-03-13 06:37] gizemcakil commented on #2493
I believe this one needs to go under go-sdk

[2020-03-13 19:42] john-harmony commented on #2464
This is a very vague request it could be better formatted with clearer requirements it appears you are after the following
1. Google Analytics setup -> This can track unique visitors, page hits, etc
2. Staking Usage -> What exactly do we want here,
3. Delegation Total -> Unsure what we want here

[2020-03-13 20:14] ivorytowerdds commented on #2464
Progress
====
1. **Already get the unique users**:
here is the result till now for today:
https://drive.google.com/open?id=1Pl5Gw_C7hnhen_0Djs5tcv6UlB2vg7zT

2. **Research on google analytics and watched some tutorial**
From my understanding, google analytics tool is a very good tool for e-commerce company to get the info like acquisition, behavior and conversion by tracking the  # of users visiti

[2020-03-13 20:37] ivorytowerdds commented on #2464
Questions
=====
Tool
-----
After talking to @john-harmony, also thanks to John, I realized we have postman to get all the validator info, and the curl command is the same logic for web scraping. So I think I will use postman or web scraping to get the data.

Goal
----
As for staking usage and delegation total: from my conversion with @lijiang2087 the goal is to get:
- one is how many people starte

[2020-03-13 23:45] ivorytowerdds commented on #2464
Update
=====
1. New Users: see https://drive.google.com/open?id=1MOfVejNl0AsSxpWv57S7g1WM7i5fCFne
2. Delegating transactions: refer here: https://github.com/harmony-one/harmony-log-analysis/blob/master/graphs/test_logs/OSTN_03_10/png/shard%200_staking_info_vs_time.png
3. Validator and Delegator info: write a python script to run every 24 hours (10:26 am pst the refreshed OSTN deployed at this time

[2020-03-13 23:50] sophoah commented on #2492
can we make those available via a json as well. Thanks @lijiang2087

[2020-03-13 23:50] #2347 closed

[2020-03-14 05:10] LeoHChen commented on #2444
confirmed the bug. For example, on this account page, we can't see transaction on shard 2 and 3.
![image](https://user-images.githubusercontent.com/4513927/76675517-7e23a400-6577-11ea-9aea-f9b6aa61c9c1.png)

[2020-03-14 05:11] LeoHChen commented on #2444
However, on the front page of the explorer, we can see clearly there are transactions on shard 2 and 3 for the same account.

![image](https://user-images.githubusercontent.com/4513927/76675532-a4494400-6577-11ea-8057-6d7cd616898d.png)

[2020-03-14 07:56] #1977 closed

[2020-03-14 09:33] BrunoMarshall opened #2500 "OSTN -Difficulty to sign blocks"
Versions with the issue:

- Version-v5674-master-20191208.0-297-g6cffb71e (14-03-2020)

- Version-v5676-master-20191208.0-299-g6282639b (15-03-2020)

- Version-v5678-master-20191208.0-301-ga6cf930d  (15-03-2020)

**Describe the bug**
Several persons are having issues to sign blocks in shard 0 and in shard3
each leads that the validator get "not elected"

**To Reproduce**
-Run a node in shard 0
wit

[2020-03-14 18:29] Daniel-VDM opened #2501 "Stress Network Reports (STN)"
## Intent
We have spun up a separate network to stress test our latest code. This issue is a tracker for all config changes and stress test reports.

[2020-03-14 18:55] rlan35 opened #2502 "Stress test excessive number of random delegations on stressnet"
In the stress testnet,

1. create 100 validators
2. prepare 100k different addresses each funded with 100 tokens
3. for each of the 100k addresses, randomly delegate a certain number of tokens (1-10 randomly) to 1 of the 100 validators.

Do the profiling of CPU and memory on shard 0

[2020-03-14 19:05] #2501 closed

[2020-03-14 19:39] denniswon opened #2504 "hmy_getTransactionsHistory returns only shard 1 transactions on mainnet"
**Describe the bug**
![Screen Shot 2020-03-14 at 12 01 21 PM](https://user-images.githubusercontent.com/3278577/76689181-8d930380-65f0-11ea-8c63-3c438c7196e9.png)

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
Other shard txns valid are also returned by rpc api.

**Screenshots**

![Screen Shot 2020-03-14 at 12 01 21 PM](https://user-images.githubusercontent.com/327

[2020-03-14 20:20] fxfactorial commented on #2486
Basically in `staking/types/transaction.go` we have:

[code]

And this is the mistake:
[code]

`txdata` used here:

[code]

So the solution is to use concrete types explicitly.

[code]

 Also Consider how the data type sounds when coming off the package. Although this package named `types`, we always alias the import to `staking`, so `staking.TransactionCollectReward` is a good sound while `stakin

[2020-03-14 20:45] fxfactorial commented on #2486
Note that this will means downstream changes in trustwallet, hmy cli, staking dashboard , rpc level

[2020-03-14 21:01] denniswon commented on #2486
@fxfactorial could you link the pr that made the design change?

[2020-03-14 21:09] fxfactorial commented on #2486
This is the original way we did the staking transactions from Fall 2019.

[2020-03-14 23:41] Daniel-VDM commented on #2502
For 3-14-20, we launched STN on commit: `a6cf930db67f8cd7ae3eb2aa891c386129cfa9cd`.

2 shards, 10 nodes, 3 keys per node.

The current expectation is to refresh STN soon, so maybe @SebastianJ can try this test at a smaller scale like maybe one 10th of the scale.

[2020-03-15 03:45] SebastianJ commented on #2187
It's still possible to perform this attack - I broke consensus on shard 1-3 on the stressnet yesterday by using tx payload spam (shard 0 was already broken because of other stress tests).

[2020-03-15 03:51] SebastianJ opened #2505 "Generating an excessive amount of validators on stressnet broke shard 0 consensus"
**Describe the bug**
I generated around ~48k validators on shard 0 on the stressnet - shard 0 ended up losing consensus and never recovered.

Exact number of validators created when consensus stopped working: 47895
Block height: 14403
Estimated time for when consensus stopped working: 2020-03-14 12:15 PM UTC

---

**To Reproduce**
Steps to reproduce the behavior:
[code]

---

**Expected behavior**

[2020-03-15 03:56] SebastianJ commented on #2389
This is still possible to reproduce on latest versions of OSTN - 1 self-stake validators with 200 bls keys (1/200 = 0.005 stake) will set the median stake to 0.005 for the entire network (which will appear as 0 effective median stake on the staking explorer).

[2020-03-15 05:23] LeoHChen commented on #2444
No transaction shows on the account page.
https://explorer.harmony.one/#/address/one12wgnwzfnudzyg0jj9ef0hjhx4vm8fka73uvuym

However, there are transaction for this account. Look at the front page of the explorer.

![image](https://user-images.githubusercontent.com/4513927/76695940-5fd6aa80-6642-11ea-81ac-c66d6cf86b32.png)

[2020-03-15 07:22] BrunoMarshall commented on #2500
With the new update the issue remains, no external nodes can join on shard 0  & 3

[2020-03-15 08:32] sophoah commented on #2450
@JB273 and I discussed multi-BLS in telegram, here is a summary of the discussion:
- to avoid centralization via multi-BLS feature, JB suggested to increase gas fee (so 1 BLS is 100% gas, 2nd BLS is 200%, 3rd BLS is300% etc...)
- however since gas are usually low and gas fee are more used to avoid network tx spams I mentioned that the only main solution is to limit the number of BLS per validator

[2020-03-15 11:27] mindstyle85 commented on #2500
a fix is expected on monday for this i believe

[2020-03-15 23:02] fxfactorial commented on #2493
All the fields are directly from the data needed to create a validator. What field(s) do you think are extra ?

[2020-03-16 00:40] mindstyle85 commented on #2493
@gizemcakil @lijiang2087 this is what i mean by creating extra disorder and confusion...

@fxfactorial i believe this was just biz demonstration on how to open a ticket.. they should also show how to close it.

[2020-03-16 01:05] #2493 closed

[2020-03-16 02:14] yelllowsin opened #2506 "node.sh runtime error for an empty multi BLS key folder"
Current node.sh is not throwing a correct message error when no BLS keys exist on` .hmy/blskeys `folder. Instead it is giving the runtime error bellow. Ideally, the code should be modified to handle this scenario and give the proper error message to the user on screen.

Node Version:

[code]

[code]

[2020-03-16 02:59] JB273 commented on #2506
Confirmed also on Ubuntu 18.04:
root@OS-Node2:~/harmony/multibls# ./node.sh -N staking -z -M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   799  100   799    0     0   3566      0 --:--:-- --:--:-- --:--:

[2020-03-16 11:27] BrunoMarshall commented on #2500
Changed the name, because the issue know is in all shards

[2020-03-16 15:25] sophoah commented on #2486
@fxfactorial could you explain for non advanced programmer why
[code]
is a mistake?

[2020-03-16 15:30] fxfactorial commented on #2486
The usage of this field causes many unnecessary encoding/decoding round trips which can be entirely avoided. These round trips eat up CPU and memory for the many temporary byte arrays created during rlp encoding /decoding process

[2020-03-16 17:13] lijiang2087 opened #2507 "node syncing issue: beaconchain-is-nil:true shardchain-is-nil:t"
after i ssh into my node, and then run the 1st command in the documentation here: https://docs.harmony.one/home/validators/managing-your-validator/resetting-your-node

./node.sh -S -c -I -N staking -z -k [BLS KEY FILE].key

I get the following error: beaconchain-is-nil:true shardchain-is-nil:t

from @fxfactorial
we've seen this before on other people: beaconchain-is-nil:true shardchain-is-nil:t
is

[2020-03-16 19:12] LeoHChen commented on #2507
try `pgrep harmony` to see if there is any harmony process running.  If yes, do `sudo pkill harmony` to terminate them and use the `node.sh` like above to start from fresh again.

[2020-03-16 19:45] sesameseed-org commented on #2500
Singing ok on Shard 3

Below is my process for fixing:

Stop the node
ps -ef | grep harmony
	rm -rf harmony_db_*
	rm -rf .dht*
	rm -rf harmony
	rm -rf md5sum.txt*

Below if above isnt sufficient:
		rm -rf harmony lib* node.sh hmy
		rm -rf bootnode
		rm -rf latest
		rm -rf staging

re download:
	curl -LO https://harmony.one/hmycli && mv hmycli hmy && chmod +x hmy
	curl -LO https://harmony.one/node2

[2020-03-16 19:51] BrunoMarshall commented on #2500
Thank you Juliun

[2020-03-16 21:59] gupadhyaya commented on #2450
Great discussion on the feature. Thanks for your feedbacks.

Restricting multi-bls feature to only Harmony validating nodes is unfair, as some of our stake partners can greatly benefit from this feature.

To mitigate the centralization concerns, we are planning to impose restriction on:
* the number of bls keys per validator (upper-bound of 1/3 of the total external validating slots) and,
* the nu

[2020-03-17 00:18] Chainode opened #2510 "[Feature] Enable the possibility to delegate to another validator without unstaking"
# Problem/limitation At Hand

At current state there is no option for delegators to quickly move their stake in case they want so. They have to unstake first and stake with another validator afterwards.
There are many reasons to change the validator as fast as possible without unstaking the ONE tokens:

- validator starts to behave malicious and is in danger of getting slashed;

- validator has pr

[2020-03-17 00:32] stephen-tse opened #2511 "network id, dashboards for running P1 (pangaea 1) and P2 (pangaea 2) concurrently"

[2020-03-17 01:05] mindstyle85 commented on #2450
ok to anyone that doesnt know what the meaning of a node is - a node is an instance running one copy of harmony binary (basically one node.sh)

regarding the imposed restrictions: why not just hard limit it for 4-5 per validator? it will help every staking partner while still not allowing the network to get too centralised and with that less secure

[2020-03-17 01:10] mindstyle85 commented on #2510
I agree with this fully. Like we already discussed a few months ago, it would not be fair that delegators get punished if a validator they delegated to does not get a seat. In that case they stay empty handed and have to wait for 7 epochs to delegate again. The same goes for all the above cases mentioned. I do believe a delegator should have a more flexible abilities here, to at least re-delegate

[2020-03-17 04:05] LeiWWSccc opened #2513 "package binaries and support "brew install harmony""
Package our binary, dylibs for brew, make sure _brew install harmony_, _brew install gmp_, _brew install openssl_ work well, also try to let static binary work.

[2020-03-17 04:06] fxfactorial commented on #2513
Please also provide proper distribution for amazon linux (yum) and ubuntu 19 (apt-get)

[2020-03-17 04:40] LeiWWSccc commented on #2513
sure,I will try it

[2020-03-17 09:27] JB273 commented on #2450
The thing with MultiBLS as it is now, it seems to be marketed as a price saving solution! Like @gupadhyaya said, "stake partners can greatly benefit from this feature".
This is exactly where the problem is, my view on this is should be OpenStaking where everyone has a fair change on being a validator, at this moment all is set for company's (or partners) who can afford an own infrastructure to get

[2020-03-17 09:37] sophoah commented on #2450
@gupadhyaya Could you explain what are the reasons behind using 1/3 of total external validator, my gut feel here is that we are adventuring into some corner cases as described above. For me I would go for either:
- option A : 1/(total number shard + 1)
- option B : 1/(total number of shard)
- Option C: just limit it to the upper limit cap per node
with my preference to go with option C

so let's

[2020-03-17 11:03] sophoah commented on #2510
I really do believe this enhancement would encourage delegator to delegate more. The mentioned issue above is a big downside of the current staking protocol. If implementing staking and delegating function as suggested by @Chainode is a too complex, I am thinking to allow a new feature call re-delegate (really different from undelegation).

Undelegation is when we want to be out of the staking sys

[2020-03-17 11:03] zerooneblock commented on #2450
@gupadhyaya To me it looks too complicated for a multi BLS functionality. A hard limitation of 3 bls keys per validator would be a first start and let's say an acceptable trade-off.

[2020-03-17 13:25] mindstyle85 commented on #2475
@NiteeshHarmony what is this? even the devs dont know... if you open up issues here they should be explained in detail so they at least know what to do.. otherwise its just more useless open github issues and makes tracking real issues hard.

[2020-03-17 13:26] #2475 closed

[2020-03-17 13:27] lijiang2087 commented on #2475
sorry guys, let's close these.

[2020-03-17 13:39] Chainode opened #2515 "[Feature] Add Keybase Integration to Harmony protocol"
# Problem/limitation At Hand

The current method for a validator to publish its logo is pretty inconvenient by forking the repository and then submitting an issue with your validator address. If the address changes or you add another validator, then another PR with the address.

# Proposed Solution

Integration with keybase and then use the pgp key of an account to publish validator logo on the st

[2020-03-17 13:46] mindstyle85 opened #2516 "having 1/3 bls keys inactive marks you as inactive and not elected"
**Describe the bug**

So having 2 active bls keys and being in comittee, i was signing 100% of blocks. Then i edited my validator and added another bls key WITHOUT restarting the node.sh (intentional). What I found out is that since there is one key inactive you sign less blocks than expected, so after an epoch i got marked inactive, and after another one my status on dashboard is "not elected". W

[2020-03-17 14:20] JB273 commented on #2450
Would go for a hard limit of only 2 or 3!

[2020-03-17 14:48] #2457 closed

[2020-03-17 14:48] #2458 closed

[2020-03-17 14:48] #2459 closed

[2020-03-17 14:48] #2460 closed

[2020-03-17 14:48] #2461 closed

[2020-03-17 14:48] #2462 closed

[2020-03-17 14:48] #2463 closed

[2020-03-17 14:48] #2464 closed

[2020-03-17 14:48] #2465 closed

[2020-03-17 14:48] #2466 closed

[2020-03-17 14:48] #2467 closed

[2020-03-17 14:48] #2468 closed

[2020-03-17 14:48] #2469 closed

[2020-03-17 14:48] #2470 closed

[2020-03-17 14:48] #2471 closed

[2020-03-17 14:48] #2472 closed

[2020-03-17 14:48] #2473 closed

[2020-03-17 14:48] #2474 closed

[2020-03-17 14:48] #2476 closed

[2020-03-17 14:48] #2477 closed

[2020-03-17 14:48] #2478 closed

[2020-03-17 14:48] #2455 closed

[2020-03-17 14:48] #2492 closed

[2020-03-17 15:09] OgreAbroad commented on #2510
I think that this is an outstanding solution.  It allows delegators to move their stake freely, and keeps the 7 day undelegate in place to discourage traders jumping ship in every market spike.

I feel that this would increase the health of Harmony network considerably.

[2020-03-17 15:42] mindstyle85 commented on #2516
ok so i get why i went inactive, since the 2 bls keys signing couldnt go over/stay at 66%, what i dont understand is why i was still bingoing when i should not?

[2020-03-17 15:54] C10NU7 commented on #2450
Yoyo !!! How about we keep this feature only for internal nodes ,because i know heavy days are upon us atm and team should reduce the cost as much as posible and let's see first the interest showed by partners and other participants for a period a time after OS is launched and until then we can monitor the behavior in network, thinking more at the design of MKeys ,implement the multiple keys featu

[2020-03-17 16:43] mindstyle85 commented on #2516
ok just went below 66% on 3 active and 1 non active key, looks like there are still some random issues with signing blocks..

"current-epoch-signing-percent": {
      "current-epoch-signed": 105,
      "current-epoch-to-sign": 164,
      "percentage": "0.640243902439024390"

[2020-03-17 18:00] rlan35 commented on #2505
When the consensus is broken is there any real validator running to support the consensus?

[2020-03-17 18:05] rlan35 commented on #2516
@mindstyle85 non-active key are not counted into the percentage. The percentage only counts the keys that's elected and should sign blocks.

[2020-03-17 18:28] mindstyle85 commented on #2516
yeh realised that, all my keys were/are elected though, so if 3/4 keys are signing (4th key isnt even active, meaning i didnt restart node.sh nor added it to the bls subfolder), i can expect a 75% sign rate.. however even that was random and dropped down as much as to 60%.

From the original post you can see that i got flagged inactive while i signed just above 66% blocks, and while my status was

[2020-03-17 20:54] #2482 closed

[2020-03-17 20:58] LeoHChen commented on #2187
For stress test network, we shall at least one sentry node up as external nodes before we load test the network.  So that even though internal nodes are down, we can still keep the consensus going, more realistic network setup.

We need to re-visit the tx load spam issue in a more controlled network setup.

[2020-03-17 22:15] lijiang2087 opened #2518 "restarting node: curl: (23) Failed writing body (0 != 10024) node.sh: cannot download harmony (status 23) node.sh: initial node software update failed"
when i run:
./node.sh -S -c -I -N staking -z -k c1862b5b975a69612946d57a0649c9ed266511f6ea5653886af12782f73911f0907be7848d9d28ec69ca97c13f3e9594.key

i get this error message:
curl: (23) Failed writing body (0 != 10024)
node.sh: cannot download harmony (status 23)
node.sh: initial node software update failed

[2020-03-18 00:02] rlan35 commented on #2516
yea, the bingo printout is not simply saying you received a confirmed block, it actually doesn't say whether you signed (got reward) or not.

[2020-03-18 00:24] john-harmony commented on #2518
You may need to update your node.sh
Please see https://docs.harmony.one/home/validators/first-time-setup/running-a-node
[code]

[2020-03-18 00:25] lijiang2087 commented on #2518
thanks, it's currently up. will know this in the future.

[2020-03-18 00:57] mindstyle85 commented on #2518
think this can be closed? :)

[2020-03-18 00:58] lijiang2087 commented on #2518
yes

[2020-03-18 00:58] #2518 closed

[2020-03-18 01:00] mindstyle85 opened #2520 "current-epoch-blocks-left overflow error"
**Describe the bug**

"current-epoch-signing-percent": {
        **"current-epoch-blocks-left": 18446744073709552000,**
        "current-epoch-signed": 44,
        "current-epoch-signing-percentage": "0.458333333333333333",
        "current-epoch-to-sign": 96

[2020-03-18 10:47] sophoah commented on #2500
The new network version ```v5683``` is causing some issues during the epoch change, it seems this is at those moment I am losing missing BINGOs

[code]
[code]
[code]

[2020-03-18 12:48] SebastianJ commented on #2502
~105k delegations test performed - see separate stress test spreadsheet.

TLDR; shard 0 lost consensus, seems likely that Ethereum's RLP encoder uses a lot of memory and CPU when encoding large arrays/slices (which slows down block latency up to 45-50s, eventually resulting in consensus being lost).

[2020-03-18 16:09] staking4all commented on #2450
The pros and cons have been discussed.

To summarize the main points are

- Con : Multiple BLS keys creates a bit of centralization, also single point of failure. Also reduces number of seats available for the community
- Pro : Multiple BLS reduced hardware cost

I think the next step is how to manage and reduce risk

To reduce the risk of single point of failure you could make it that the validat

[2020-03-18 18:53] yelllowsin commented on #2515
I agree, this is a much better/flexible solution than doing a PR. @Daniel-VDM since you are the owner of the HMY, what do you think about this solution?

[2020-03-18 19:07] Daniel-VDM commented on #2403
Protocol won't allow you to have a validator with keys for different shards now.

[2020-03-18 19:07] #2403 closed

[2020-03-18 20:25] mirrormirage0 opened #2525 "Consistently getting elected with a tiny amount staked"
**Describe the bug**
Editing the validator and activating it gets it elected to the committee irrespective of the stake or blocks signed.

Case in point:
Validator address: one1vfqqagdzz352mtvdl69v0hw953hm993n6v26yl
Effective Stake: 1 $ONE
Epochs signing percentage: 0

**To Reproduce**
Create a shell script with the following code and run it
`
#!/bin/bash
while true
do
./hmy --node="https://api.s0

[2020-03-18 20:42] mirrormirage0 commented on #2525
This issue was also reported by @BrunoMarshall

[2020-03-18 20:47] mirrormirage0 commented on #2525
Stopping the script now , since it affects median stake.

[2020-03-18 20:47] BrunoMarshall commented on #2525
Another point to refer is that the delegators will look to the explorer, and will see this validator "active" and are deceived to delegate to this "pseudo" validator. we should avoid this.
-If the validator is not running a node **should not be elected**

[2020-03-18 21:38] fxfactorial opened #2529 "Optimize: Cache BLS keys in two key spots"
There are two places where where have repeated conversions of `*bls.PublicKey` and `shard.BlsPublickKey`. The latter is a fized sized byte array so you can use it in map keys.

See the TODOs here:

1) https://github.com/harmony-one/harmony/pull/2497/files#diff-ee609ccc33f9ecc0687a15cdab5d7a99R389

2) https://github.com/harmony-one/harmony/pull/2497/files#diff-f4a7263c3d2d9706c2e78c479eb09ae5R120

[2020-03-18 21:50] mikedoan commented on #2520
can you please elaborate on this issue?

[2020-03-18 22:21] mindstyle85 commented on #2520
you dont see the abnormally high (bolded) curren-epoch-blocks-left number? @fxfactorial can explain better, but that number is wrong and WAY too high, @fxfactorial said its an overflow issue

[2020-03-19 04:59] sophoah commented on #2525
@BrunoMarshall @mirrormirage0 for me everything work as expected.

With the recent code upgrade and the epos status as defined here : harmony.one/epos-status, at the time where we set our validator to active, you will be ready to be elected. So during epoch change where the auction will be live, even if you have only 1 ONE or 1mil ONE, the protocol would only look at if you are eligible to be in t

[2020-03-19 11:52] mirrormirage0 commented on #2525
@sophoah ,
I'm trying to understand this better. Out of the 45 validators in OSTN as of now, I have the lowest amount staked 1 $ONE and I am consistently in the committee of 36. Not getting kicked out.
Which makes me wonder, are the rest of the validators performing worse than me (in terms of signing percentage & stake) and hence not getting elected to the committee?

[2020-03-19 11:58] mindstyle85 commented on #2525
no, its the fact that there are 200 seats open, so currently everyone with any stake can get in, but you would be one of the first ones that would get kicked out if all seats would be taken

[2020-03-19 14:42] stephen-tse commented on #2187
@SebastianJ - @rlan35 @LeoHChen concluded punting this issue to fix before P3 launch but ok for stake heist (open hacking). rj/leo, can you add more context here? many p-ops are asking for context and expectations.

[2020-03-19 16:06] sophoah commented on #2525
@mirrormirage0 I think @mindstyle85 answered correctly. there are currently 200 seats and as long as those seats are not being filled up with multi-BLS or new validator, you'll still be eligible and able to run a validator with 1 ONE :)

[2020-03-19 17:16] LeoHChen commented on #2187
@SebastianJ , totally understood your concern on the network security with the tx spam.  There were multiple issues that may cause this. Here is my summary and understanding of this issue and what we have done and could do.

1. network level tx spamming of invalid tx to end points caused multiple nodes down.  This has been fixed by @rlan35 's fix (https://github.com/harmony-one/harmony/pull/2308)

[2020-03-19 18:51] fxfactorial commented on #2486
UPDATE:

After talking with RJ offline, we realized that actually need to go in the other direction.

That is, we need to unify StakingTransaction with Plain transactions because the current existence of staking transactions as a separate slice in the block is a hack (aka the shared usage of nonce).

Therefore we must endorse the polymorphic approach intent of staking transactions but this time CO

[2020-03-19 19:28] Chainode commented on #2515
Closing this issue as is more relevant for go-sdk: https://github.com/harmony-one/go-sdk/issues/183

[2020-03-19 19:28] #2515 closed

[2020-03-19 21:04] fxfactorial opened #2539 "node.sh swallows the stack trace, print it out always"
Currently node.sh swallows the errors of the harmony binary. It should print out the actual errors because otherwise our pangaea volunteers have an extra burden of finding the actual stack trace as opposed to just copy pasting the thing on their screen.

![Screenshot from 2020-03-19 14-02-04](https://user-images.githubusercontent.com/3036816/77114760-56ef2b80-69ea-11ea-9d31-be08e7db9537.png)

[2020-03-20 01:03] mindstyle85 opened #2545 "eligible status is wrong?"
**Describe the bug**

So below you can see im signing 11% blocks so no way it will be enough, however the status says im signing enough blocks to be eligible for election?

"current-epoch-performance": {
      "current-epoch-signing-percent": {
        "current-epoch-blocks-left": 3,
        "current-epoch-signed": 4,
        "current-epoch-signing-percentage": "0.114285714285714286",
        "cur

[2020-03-20 08:10] BrunoMarshall opened #2549 "Alarm/message to delegators if validator change fees"
# Problem
When we delegate to a validator, the expectation is that the field "fee" don´t move too much higher, but this can upon very fast.
if the delegator is not constantly monitoring the delegations, can miss this.

# Proposed Solution

the proposal solution is to set an alarm or some king of message that the delegator imediately see that something changed comparative to the time when delegated

[2020-03-20 09:02] sophoah commented on #2549
@BrunoMarshall yeah this is a nice proposal. Though if I am seeing a max-change-rate of more than 0.2 per epoch i would be suspicious. But I guess what you are proposing is good because as a delegator I would also want to know even the smallest change fee :) so eventually i can change that to another validator along with another feature request #2510

[2020-03-20 09:24] BrunoMarshall opened #2550 "Proposal to deny/reject delegation"
Proposal for validators to deny or decrease delegations.

the proposal is to give the power to validator to decrease or deny delegation, this is an important tool for validators to be able to be in the near the median, in case that the median decrease.

For exemple:
currently i will like to decrease the stake in my validator to be near the median, but i can´t because i have delegations in place:
!

[2020-03-20 09:31] sophoah commented on #2550
what process flow would you see that working ? like a request for a delegation that the validator needs to approve? if already delegated, i think it is tough to undelegate on the delegator behalf :)

[2020-03-20 09:55] mirrormirage0 opened #2551 "Total Effective stake is incorrect. Node with 1 token staked, earning 25k+ rewards, always elected."
**Describe the bug**
1) Validator node has only 1 $ONE token staked.
2) Is always in the committee
3) Earning an insane amount of rewards.

 **"total-effective-stake": "8740125000000000000000.000000000000000000"**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a validator with 1 $ONE token staked.
2. Get elected  / Activate node.

**Expected behavior**
1. Since there are 30 other nod

[2020-03-20 10:08] BrunoMarshall commented on #2551
Just to mention that the median at that time range (7 hours) was changed between 10000  and  80000.
Incredible is that that validator is in the the top 10 validator
![image](https://user-images.githubusercontent.com/35432495/77154011-2d420d00-6a9b-11ea-9385-3808ba310247.png)

[2020-03-20 10:28] sophoah commented on #2551
@mirrormirage0 that is really nice finding. Current median stake is 10300 (might be a bit lower when you executed the validator information) so if we follow the effective stake formula:
![image](https://user-images.githubusercontent.com/35721420/77153821-73b45d80-6ad5-11ea-860c-0775054f1f15.png)
it looks like the code is doing the correct maths :
[code]
so I don't think this was the expected behav

[2020-03-20 10:50] fxfactorial commented on #2551
Dump the median stake computation breakdown while doing this investigation as well: hmy blockchain median-stake

[2020-03-20 10:56] sophoah commented on #2446
@mirrormirage0 think you can close that one now

[2020-03-20 10:59] sophoah commented on #2374
@mirrormirage0 could you retest and let me know if it still ongoing ? if not i can help the dev to fix that

[2020-03-20 11:07] sophoah commented on #2551
@fxfactorial let you relook at that later in your day. this is the effective stake that we are talking about here

[2020-03-20 11:53] mindstyle85 commented on #2550
i dont think this is doable tbh, in a decentralized network everyone should be allowed to delegate anywhere.. if at some point you dont want more delegations you can change fees to be higher or set max_delegation to something you are comfortable with imo..

these two options plus multibls is perfectly good i think

[2020-03-20 12:09] mirrormirage0 commented on #2551
`hmy blockchain median-stake
{
  "id": "0",
  "jsonrpc": "2.0",
  "result": {
    "epos-median-stake": "17000000000000000000000.000000000000000000",
    "epos-slot-candidates": [
      {
        "keys-at-auction": [
          "5bde9d28af81e43faf13f1ccdb2b3e8f6cbe9f76930ba6b79647476e228ef6380c15699658c4d615d474460225de8d12"
        ],
        "percentage-of-total-auction-stake": "0.0107912953578515

[2020-03-20 12:10] mindstyle85 commented on #2551
@fxfactorial i believe the calc is correct but please do verify.. this is a corner case here since its a test network and many seats available so a stake of 1 token is making a huge gap..

Basically top validator would get median stake + 15% of median stake as his effective stake and
bottom validator would get median stake - 15% of median stake as its effective stake, which is a big number in this

[2020-03-20 12:23] sophoah commented on #2551
Ok so after discussing with @mindstyle85 the formula actually give correctly the effective stake define by the upper and lower band of the median-stake and protocol parameter c. However, I think issue was that the effective stake was used to calculate the voting power:
[code]
and not the actual stake of 1 ? 1 ONE and having an over percent of 2.9% is a lot ...

[2020-03-20 12:43] sophoah commented on #2551
ok thanks to @mindstyle85, this is the actual objective of EPOS to have those low validator stake to have an effective stake higher than they have, here 1 ONE, so effectively that issue is not an issue :)

[2020-03-20 12:43] mindstyle85 commented on #2551
ok we talked it over with @sophoah so effective stake is ok, and apr and rewards are based on that, it just confused everyone since theres such a small stake in this case due to testnet.. not realistic that such a high gap between median and lowest tier validator will be on mainnet

[2020-03-20 13:16] denniswon opened #2552 "staking txn is not supported on the current block explorer"
**Describe the bug**

Staking txn does not show up on block explorer, when tried to be searched on the website using its hash. Occurs in all networks, mainnet, testnet, etc.

**To Reproduce**
Steps to reproduce the behavior:

on block explorer, try to search staking txn on the website using its hash.

**Expected behavior**
Staking txns do show up on the block explorer.

[2020-03-20 14:06] sophoah commented on #2545
same error for me along with the overflow block left:
[code]

[2020-03-20 14:19] sophoah opened #2555 "Randomly miss the EPOS auction"
**Describe the bug**
it happens that my node is missing the epos auction even though  status was :
[code]

**To Reproduce**
Steps to reproduce the behavior but it doesn't happened all the time :
1. be kick out from the committee and be in the status "not eligible to be elected next epoch"
2. edit validator active
3. wait for epoch change, nothing, happened, only at the next epoch i am part of the

[2020-03-20 15:44] sophoah commented on #2500
attaching pprof run on my contabo box with 4 BLS key. took at least 1h to have it stable with in middle multiple kick-out and edit validator active

[pprof.tar.gz](https://github.com/harmony-one/harmony/files/4360502/pprof.tar.gz)

[2020-03-20 16:04] mindstyle85 commented on #2555
i can confirm this happened to me too, its a bit random though so sometimes it skips an epoch and sometimes it goes through..

[2020-03-20 17:33] rlan35 opened #2558 "Allow validator to withdraw all their stake if they wanna quit."
Since we increase the minimum stake required for a validator to 10k token. Current design has no way for validator to withdraw those token if they wanna quit.

Need to think about how to allow it.

[2020-03-20 17:49] LeoHChen opened #2559 "change hardcoded 25 minutes of the blskey cache"
## Summary

In this PR, we have set a 25 minutes hardcoded number to invalidate the cache in the following PR.
https://github.com/harmony-one/harmony/pull/2546

This number is just an initial heuristic number.  It has to be a number based on the epoch and block time. So, we need to revisit this number before we launch mainnet.

[2020-03-20 17:51] fxfactorial commented on #2559
Yep. A few other similar places , later we can factor them all out into a runtime performance characteristic yaml config

[2020-03-20 18:08] jhd2best opened #2562 "validator node can not be elected"
validator node can not be elected for for several days(reset node, SYNC already finished, and send active request many times)

**Server Info**
2C2G
cpu usage less than 10% normally, less than 70% syncing blocks
memory usage: 24%

**Node Info**
harmony_db_0 27M
harmony_db_2 14M

block height: shard2 9072

**Latest Log**
`{"level":"debug","port":"9000","ip":"157.245.230.132","caller":"/mnt/jenkins/w

[2020-03-20 18:42] rlan35 commented on #2311
Note that in OSTN there is only 100 external seat available. Not 320. So that may be causing the confusion. Can anyway reproduce this in the latest OSTN?

[2020-03-20 18:42] rlan35 commented on #2311
@fxfactorial  is this potentially a issue on epos election?

[2020-03-20 21:55] #2551 closed

[2020-03-20 22:04] #2392 closed

[2020-03-20 22:13] gupadhyaya commented on #2381
@mindstyle85 can you check again to confirm if this is not fixed? Thanks.

[2020-03-20 22:15] gupadhyaya commented on #2431
@JB273 @sophoah can you guys confirm if this issue still exists?

[2020-03-20 22:28] gupadhyaya commented on #2506
should be fixed after this PR is merged: https://github.com/harmony-one/harmony/pull/2548 , please recheck and let me know.

[2020-03-20 22:36] LeoHChen commented on #2425
do we still see the issue with the latest code?

[2020-03-20 22:38] LeoHChen commented on #2456
we've seen this if the node is out of sync, from time to time, specially when the dns node is out of sync. we need to clean the db and restart.

[2020-03-20 22:38] #2456 closed

[2020-03-20 22:40] LeoHChen commented on #2425
on mitigation we used in our mainnet is to have rclone to sync the initial snapshot of the DB and keep syncing the latest code.

[2020-03-20 23:05] #2451 closed

[2020-03-20 23:07] mindstyle85 commented on #2381
@gupadhyaya seems this is not happening anymore for the last few versions, so closing this for now

[2020-03-20 23:07] #2381 closed

[2020-03-21 01:00] yelllowsin commented on #2506
Great, will test it once merged.

[2020-03-21 01:49] mindstyle85 commented on #2520
it also shows too small of a number for blocks to sign:

"current-epoch-performance": {
      "current-epoch-signing-percent": {
        **"current-epoch-blocks-left": 20,**
        "current-epoch-signed": 18,
        "current-epoch-signing-percentage": "1.000000000000000000",
        "current-epoch-to-sign": 18

after that counter hits zero, the above mentioned abnormally high number appears

@mi

[2020-03-21 02:28] BigCryptoKing commented on #2450
I am so glad pretty much everyone feels that multi bls to some extent has more cons than pros! I was really against it for a combination of what you have stated above....network security, node runner security, central, seats avail.  I originally was going to run many servers b/c I didn't know if i was going to be able to figure multi bls out...with a little help I did..and I will be running many s

[2020-03-21 02:33] mindstyle85 opened #2565 "Possible multiple issues"
**Describe the bug**

So looking at zerolog, looks like  there are several issues pointed out on tg by @fxfactorial 👍 (name of the issue is also his idea lol :)

Also attached log file below.

This one below shows the exact time pre apr computation, apr computation and right after apr computation. Note that it looks like it goes forward to epoch 299, does APR, then returns back to epoch 298? I gue

[2020-03-21 03:19] mindstyle85 commented on #2565
adding also a larger log file i recorded with running a node with problems with signing (above one also had problems) - same node but different epochs

[zerolog-validator-larger log of a broken node.log](https://github.com/harmony-one/harmony/files/4362377/zerolog-validator-larger.log.of.a.broken.node.log)

[2020-03-21 06:23] mikedoan commented on #2520
@mindstyle85 got. it. this should be assigned to @fxfactorial

[2020-03-21 08:52] scraido opened #2566 "Proposal Please Add "time-signed-utc" on collect-rewards with CLI,,"
**Describe the bug**
Hello when i try to breaking down my issue into time capsule, i found it would be helpfull if on collecting reward with CLI you also put "time-signed-utc",,

refer to case https://github.com/harmony-one/staking-dashboard/issues/178

[2020-03-21 09:07] scraido opened #2567 "unnecessaries message appear when ran multi BLS key with key specified on blspass.txt"
**Describe the bug**
Hi when i do create a multi same shard BLS with same passphrase and specified it on
root; $ blspass.txt

i got unnecessaries message after it show in what shard my node runs, it's worked but left unnecessaries message before, that make me doubt that my node is succeed run / not,,

it should not make people wonder, and type another command to checked that their node is run or n

[2020-03-21 09:40] scraido opened #2568 "is it a standard behaviour, that a new generated wallet passphrase will be reset to nil when you doing a complete remove for making a hard reset"
**Describe the bug**
Before when i try to created 1 validator with given wallet passphrase at account creation on a running Multi BLS Node, i found that i couldn't making the validator, even i have type my passphrase or pasting it, it still not gave me validator issue https://github.com/harmony-one/staking-dashboard/issues/228

then i found out my self that my wallet passphrase is reset to nil, i

[2020-03-21 10:01] scraido opened #2569 "getting kickoff signing because my node consume much of cpu and memory that make my machines slow and fall behind"
**Describe the bug**
Before i got interesting graph of cpu and memory take to run the node, and then not far a long, my elected node became not elected

$ ps -aux result
root     25664 78  4.7 5000152 391460 pts/8  Sl+  05:42 164:11 ./harmony -bootnodes /ip4/54.86.xxx.xx/tcp/9867/p2p/Qmdfjtk6hPoyrH1zVD9PEH4zfWLo38dP2mDvvKXfh3xxxx,

root     28164 11.5  0.2 1153604 20132 pts/12  Sl+  06:44  28:23 t

[2020-03-21 10:12] scraido commented on #2569
this make me creates 3 validator;
the first is with my one address created with new chrome extension, end with "ysu" and then i try the active true above
and then i do hard reset "remove all", and activate the wallet again using mnemonic, i also have stopped the tui for "ysu"
the second one i use my one address created when the pangaea begin again at dec 19, end with "m0r", and started the tui, it

[2020-03-21 10:22] scraido commented on #2569
btw as soph mention on another git report, i use contabo VPS S ssd 200GB with Intel Xeon E5-2620v3 2,4Ghz 4vCPU and 8GB of RAM

[2020-03-21 10:53] scraido opened #2570 "is my 4mm testnet token that on stake is gone after do complete reset? it shouldn't, it should save some where isn't it?"
**Describe the bug**
Before i'm not elected, and then i can't unstake my staking coin using dashboard or CLI, then i doing "hard reset" removing all, recover back my "ysu" wallet using 12 seed mnemonic passphrase, run the node again, did validator for my another wallet to test another issue, and then i'm back to this "ysu" wallet to unstake it using CLI, now it gave me weird message that tell if i

[2020-03-21 10:53] scraido opened #2620 "wrong error message for trying to undelegate fully from your validator"
**Describe the bug**

EDITED by mindstyle: this user tried to undelegate his full amount from his validator, which ofcourse isnt working as there is a min-self delegation that cannot be undelegated.

**Expected behavior**
it should when you can't do unstake the message is related to why you couldn't do it if you have balance staked, instead of show that you didn't have the balance that you own and

[2020-03-21 11:08] scraido opened #2571 "couldn't do self unstake, using CLI on not elected validator"
**Describe the bug**
Before i reported it coz my un-elected validator couldn't do unstake on issue report here;
https://github.com/harmony-one/staking-dashboard/issues/245 and then i try to do it with CLI it gaves me same problem, also after soph mention me to not use --passphrase (because i don't use passphrase for this wallet), it also not worked, even now it said i didn't have any to unstake, a

[2020-03-21 11:50] err0r711 commented on #2545
same here

"current-epoch-blocks-left": 5,
        "current-epoch-signed": 0,
        "current-epoch-signing-percentage": "0.000000000000000000",
        "current-epoch-to-sign": 33
      }
    },
    "currently-in-committee": true,
    "epos-status": "currently elected and signing enough blocks to be eligible for election next epoch",

[2020-03-21 12:02] scraido opened #2572 "Proposal: Make people couldn't see another people balances by type it on CLI"
**Describe the bug**
I found it for privacy that we should couldn't see another balance using CLI, coz someone can targeted another wallet that have bigger amount of balance

**To Reproduce**
Steps to reproduce the behavior:
1. ./hmy balances (someone balances)

**Expected behavior**
it should something either like you didn't have the privilage or the wallet you seek is not present on server or el

[2020-03-21 13:31] yelllowsin commented on #2500
I was able to reproduce the issue on the latest node.sh version as well on current OSTN. I took care to delete all zero logs files and start fresh with the profiling, so what you have on logs is precisely the issue happening when i start the node, activate it, it signs blocks for 1 epoch or so, start failing signing blocks and gets kicked out of commitee:

`Harmony (C) 2020. harmony, version v5719

[2020-03-21 13:41] mindstyle85 commented on #2572
this is something that is available everywhere, its  the same as searching in explorer where you can see each address' balance - on all chains basically if theyre not private. Please close this one.

[2020-03-21 13:50] mindstyle85 commented on #2571
there is a min-self delegation that needs to stay in.. and by the looks of it youre trying to unstake in full??

[2020-03-21 13:51] mindstyle85 commented on #2570
same as in your other issue.....

[2020-03-21 14:04] mindstyle85 commented on #2567
agree with this one, i get this while running bls keys without a passphrase and without the pass file:

node.sh: ############### Running Harmony Process ###############
[Multi-BLS] could not find passphrase for bls key file: 1c57c3282714e412d974a5c1c5712f1f6062d3253d9a080580abf4342805e3311c19f81bef5b1a903fe282650b767a12.key, using passphrase from stdin
[Multi-BLS] could not find passphrase for bls

[2020-03-21 14:10] sophoah commented on #2311
@rlan35 since the issues was opened, the election process improved a lot. the criteria selection is now more stringent and inactive validator are being kick-out. I am not sure we can fix this issue of fake validator in the network (ie not signing). We would need to detect before hand if they are signing or if their node is online at least. All those fake validator was a spam script with no running

[2020-03-21 14:14] sophoah commented on #2572
@scraido what you are proposing here is a core functionality of all the privacy coin. It is a nice feature but not a must since harmony is not a privacy coin.

[2020-03-21 14:20] BrunoMarshall commented on #2572
Are you proposing to hide/add privacy to validator addresses? In your exemple you know that it's my adresses because you saw it in the staking explorer, are you proposing to hide it there? Knowing a balance of a address don't give you the info of the owner

[2020-03-21 14:20] mindstyle85 commented on #2311
i can but would like @fxfactorial to first check if this could still happen if we spammed lots of bubz validators or not? if not you  can close it or i will as soon as i see a reply

[2020-03-21 14:25] sophoah commented on #2570
@scraido on the passphrase thing at step whenever you are imported a new wallet via seed phrases, you have to set a passphrase yourselves, similar to doing it via the chrome extension. By default there aren't any

I haven't tested but similar to all command in hmy cli that need a passphrase if you do :
7.  Import an account using the mnemonic. Prompts the user to give the mnemonic.
hmy keys recove

[2020-03-21 14:39] sophoah commented on #2569
ok so first of all, i think TUI cpu is not really great because it shows you only 1 cpu. try using htop and you'll see 4 different cpu and they won't be as busy as it is shown in TUI.

Lots of machine including mine are having the same issue signing at the beginning, you issue is most likely link to #2500 where dev are actively working on it. Edit validator active a few/lots of tim would usually h

[2020-03-21 14:41] sophoah commented on #2569
@scraido you can verify yourself eventually in ps aux and htop if you have any other processes that may be eating your memory and cpu. please just close that issue as i do think it is highly link to #2500 and hence this issue could be closed.

[2020-03-21 14:44] sophoah commented on #2568
@scraido i answered that in #2570 basically by default when you import your wallet using mnemonic there won't be any passphrase. Thanks for closing this.

[2020-03-21 16:42] mindstyle85 opened #2573 "node.sh didnt auto update"
**Describe the bug**
with the last rolling upgrade on OSTN, my node didnt auto upgrade, it only did so when i restarted it while testing some things.. Got confirmation from other POPS about this too.

my node.sh version:
node.sh: version: v1 20200313.0

My run command: ./node.sh -S -M -N staking -z -R localhost:6070 (-r localhost is just for pprof, should have no affect)

note that John Whitton ha

[2020-03-21 17:19] scraido commented on #2571
ty for replied, i have succeed undelegate it by leave a small balance as i set on the min-self delegation, i also have closed the dashboard version, i split this because soph ask me to do that, ty

[2020-03-21 17:19] #2571 closed

[2020-03-21 17:36] scraido commented on #2572
thankyou for answer guys, i just have a conversation before on chat room (tg), that i think i found an out-breach, that after doing full remove, many not known we must set the --passphrase again, coz it not tell in cookbook, yeah people now is just do what it shown, maybe you can edit the cookbook and add the --passphrase there as there were new comer come,,

so as mindstyle and shop have been tol

[2020-03-21 17:36] #2572 closed

[2020-03-21 18:50] mindstyle85 commented on #2569
i am closing thiss issue as it is because of the block signing issue that is already opened like Soph reported above.

[2020-03-21 18:50] #2569 closed

[2020-03-21 19:01] #2446 closed

[2020-03-21 19:01] #2525 closed

[2020-03-21 19:01] #2568 closed

[2020-03-21 19:06] mindstyle85 commented on #2550
can we close this?

[2020-03-21 19:14] denniswon opened #2576 "[Feature] implement node state transition as finite state machine"
# Problem/limitation At Hand

Consensus, as the core of the protocol, has different states during syncing, validating, consensus, etc.

The transition among different states are triggered by consensus messages and other condition changes. Due to complication in the system, it has been difficult not only to keep track of the consensus state transition mechanism/logic but also to debug critical sync

[2020-03-21 19:16] mirrormirage0 commented on #2374
Yes, this one still exists .
Retested on
`Harmony (C) 2020. hmy, version v321-2c589a6 (edgar@harmony.one 2020-03-11T21:21:53-0700)`

[2020-03-21 19:24] scraido commented on #2569
thank you for your answer, yup my ps aux said the node consume 78% of cpu;

root 25664 78 4.7 5000152 391460 pts/8 Sl+ 05:42 164:11 ./harmony -bootnodes /ip4/54.86.xxx.xx/tcp/9867/p2p/Qmdfjtk6hPoyrH1zVD9PEH4zfWLo38dP2mDvvKXfh3xxxx,

i'll try your suggestion soph to see with htop, hope it fixed sooner, because my spec is above the min, and i couldn't elected till now, ty

[2020-03-21 21:11] mindstyle85 commented on #2483
this is because of the old extension

[2020-03-21 21:13] #2388 closed

[2020-03-21 21:20] mindstyle85 commented on #2043
it would be better if you used hmy for this anyways, as wallet.sh is deprecated and things might not work with the newer versions:

curl -LO https://harmony.one/hmycli && mv hmycli hmy && chmod a+x hmy

[2020-03-21 21:20] #2043 closed

[2020-03-21 21:20] #2019 closed

[2020-03-21 21:20] #2017 closed

[2020-03-21 21:21] #2010 closed

[2020-03-21 21:22] #1963 closed

[2020-03-21 21:51] scraido commented on #2568
ty mindstyle for closing it in advance, btw as i mention on another thread i'll continue to update the git issue after i take a break, so it's leave me still have 6 issue open, after i get back, i'm glad you've been administering it in advance, so ty

for the update; yeah i can define my pass with --passphrase after try to recover my wallet back,,

but when i try to used the pass for action, it's

[2020-03-21 23:35] BrunoMarshall commented on #2510
nice proposal, like it!

[2020-03-21 23:36] BrunoMarshall commented on #2550
will close this proposal, thank you all

[2020-03-21 23:36] #2550 closed

[2020-03-22 02:26] scraido commented on #2568
yup, i can confirm it's succeed now, ty

[2020-03-22 12:54] sophoah commented on #2562
@jhd2best this issue should have been fixed in the latest version of the harmony code ```version v5730-v1.3.5-39-ga429d020```

i am closing this issue for now, please reopen and @ me if there is any further issue. Thanks

[2020-03-22 12:54] #2562 closed

[2020-03-22 13:00] sophoah commented on #2425
@LeoHChen this is better however still much slower than the other shard, for instance here 5k blocks takes around 10 min. Shouldn't that be faster ? I am on  ```version v5730-v1.3.5-39-ga429d020```

[2020-03-22 13:55] sophoah commented on #2483
yes agree so i'm closing that one.

[2020-03-22 13:55] #2483 closed

[2020-03-22 14:11] sophoah commented on #2545
issue is still present in latest `version v5730-v1.3.5-39-ga429d020`
[code]

[2020-03-22 14:18] sophoah commented on #2431
@gupadhyaya in `version v5730-v1.3.5-39-ga429d020` this issue seems to be fixed now. all work as expected. I've checked with @JB273 we are closing this issue

[2020-03-22 14:18] #2431 closed

[2020-03-22 17:23] yelllowsin commented on #2138
@JB273 closing this issue as current dashboard has been updated and doesn't have this message anymore. Feel free to reopen if needed.

[2020-03-22 17:23] #2138 closed

[2020-03-22 17:27] yelllowsin commented on #2072
@JB273 closing this issue as it has been resolved accordingly to my comment above. Feel free to reopen if needed.

[2020-03-22 17:27] #2072 closed

[2020-03-22 17:31] yelllowsin commented on #2026
@sophoah I feel this issue can be closed as there is a duplicated and newer here with the same issue here #2225 . Feel free to reopen if i did something wrong.

[2020-03-22 17:31] #2026 closed

[2020-03-22 22:12] yelllowsin commented on #2491
I think this can be closed @lijiang2087 , right? I already see the version here: http://watchdog.hmny.io/status
I have just checked and it matches the version on Watchdog.

![image](https://user-images.githubusercontent.com/7217595/77261951-03424380-6c71-11ea-91fb-630781e61765.png)

[2020-03-23 13:44] #354 closed

[2020-03-23 13:45] #355 closed

[2020-03-23 13:45] #360 closed

[2020-03-23 13:45] #368 closed

[2020-03-23 13:45] #384 closed, assigned to nicolasburtey

[2020-03-23 13:46] #400 closed

[2020-03-23 13:47] #420 closed

[2020-03-23 13:48] #446 closed

[2020-03-23 13:48] #481 closed

[2020-03-23 13:48] #482 closed

[2020-03-23 13:49] #484 closed

[2020-03-23 13:49] #485 closed

[2020-03-23 13:50] #488 closed

[2020-03-23 13:50] #489 closed

[2020-03-23 13:51] #503 closed

[2020-03-23 13:51] #508 closed

[2020-03-23 13:54] #1171 closed

[2020-03-23 13:54] #908 closed

[2020-03-23 13:55] #855 closed

[2020-03-23 13:55] #848 closed

[2020-03-23 13:55] #842 closed

[2020-03-23 13:56] #843 closed

[2020-03-23 13:56] #825 closed

[2020-03-23 13:56] #824 closed

[2020-03-23 13:56] #714 closed

[2020-03-23 13:57] #670 closed

[2020-03-23 13:57] #663 closed

[2020-03-23 13:57] #660 closed

[2020-03-23 14:01] #1201 closed

[2020-03-23 14:02] #1247 closed

[2020-03-23 14:02] #1259 closed

[2020-03-23 14:02] #1290 closed

[2020-03-23 14:02] #1304 closed

[2020-03-23 14:02] #1305 closed

[2020-03-23 14:02] #1306 closed

[2020-03-23 14:03] #1307 closed

[2020-03-23 14:04] #1332 closed

[2020-03-23 14:04] #1320 closed

[2020-03-23 14:04] #1345 closed

[2020-03-23 14:04] #1350 closed

[2020-03-23 14:04] #1376 closed

[2020-03-23 14:05] #1392 closed

[2020-03-23 14:05] #1393 closed

[2020-03-23 14:05] #1397 closed

[2020-03-23 14:05] #1404 closed

[2020-03-23 14:06] #1418 closed

[2020-03-23 14:06] #1422 closed

[2020-03-23 14:08] #1434 closed

[2020-03-23 14:08] #1435 closed

[2020-03-23 14:08] #1442 closed

[2020-03-23 14:09] #1453 closed

[2020-03-23 14:09] #1474 closed

[2020-03-23 14:10] #1495 closed

[2020-03-23 14:10] #1496 closed

[2020-03-23 14:10] #1532 closed

[2020-03-23 14:10] #1535 closed

[2020-03-23 14:11] #1543 closed

[2020-03-23 14:11] #1568 closed

[2020-03-23 14:11] #1569 closed

[2020-03-23 14:11] #1576 closed

[2020-03-23 14:12] #1580 closed

[2020-03-23 14:12] #1579 closed

[2020-03-23 14:12] #1590 closed

[2020-03-23 14:12] #1591 closed

[2020-03-23 14:12] #1592 closed

[2020-03-23 14:14] #1628 closed

[2020-03-23 14:14] #1644 closed

[2020-03-23 14:15] #1656 closed

[2020-03-23 14:15] #1661 closed

[2020-03-23 14:15] #1663 closed

[2020-03-23 14:15] #1668 closed

[2020-03-23 14:16] #1669 closed

[2020-03-23 14:16] #1708 closed

[2020-03-23 14:18] #1720 closed

[2020-03-23 14:18] #1735 closed

[2020-03-23 14:19] #1724 closed

[2020-03-23 14:19] #1742 closed

[2020-03-23 14:19] #1752 closed

[2020-03-23 14:20] #1757 closed

[2020-03-23 14:20] #1758 closed

[2020-03-23 14:21] #1811 closed

[2020-03-23 14:23] #1924 closed

[2020-03-23 14:24] #1879 closed

[2020-03-23 14:24] #1880 closed

[2020-03-23 14:24] #1858 closed

[2020-03-23 14:24] #2136 closed

[2020-03-23 14:24] #2134 closed

[2020-03-23 14:24] #2133 closed

[2020-03-23 14:24] #2131 closed

[2020-03-23 14:25] #2099 closed

[2020-03-23 14:32] #2203 closed

[2020-03-23 14:33] #2050 closed

[2020-03-23 19:58] BrunoMarshall commented on #2500
with the latest revision, the sign issue is solved.
i will close this issue.
Thank you

[2020-03-23 20:39] BrunoMarshall commented on #2565
Here are Edgar comments regarding this issue:
- Hmm I think there are multiple issues happening at once and they are interacting in weird ways
- I think there is a syncing issue in logic in consensus (RJ looking at it) in which case the node is incorrectly just ignoring consensus when it’s capabale of
-There’s also issue of my bad logic in apr looking back as a loop
-And there is issue of code ine

[2020-03-23 20:58] BrunoMarshall commented on #2507
Can you close this issue? was this related to the solved syncing issue: https://github.com/harmony-one/harmony/issues/2500
Thank you

[2020-03-23 22:03] rhazberries opened #2584 "[Faucet] Track current issues with the faucet smart contract"
Faucet not sending tokens when multiple people try to get funds from the faucet within 1 block time.
Proposed fix: Queue transactions & send using multiple addresses.

Security issues due to scripting with multiple addresses to empty the faucet.
Proposed fix: Limit taps based on IP address.

[2020-03-24 00:04] mindstyle85 commented on #255
@mikedoan @LeoHChen can we close this one?

[2020-03-24 00:05] #256 closed

[2020-03-24 00:05] mindstyle85 commented on #271
@LeoHChen can this be closed?

[2020-03-24 00:06] #291 closed

[2020-03-24 00:10] #329 closed

[2020-03-24 00:10] mindstyle85 commented on #396
@LeoHChen this still open?

[2020-03-24 00:10] #419 closed

[2020-03-24 00:11] #445 closed

[2020-03-24 00:12] #591 closed

[2020-03-24 00:13] mindstyle85 commented on #612
@LeoHChen is this still open?

[2020-03-24 00:27] #672 closed

[2020-03-24 00:28] #702 closed

[2020-03-24 00:29] mindstyle85 commented on #719
@AndyBoWu can this be closed now?

[2020-03-24 00:30] mindstyle85 commented on #752
@LeoHChen this still open?

[2020-03-24 00:30] mindstyle85 commented on #753
@LeoHChen this still open?

[2020-03-24 00:30] #898 closed

[2020-03-24 00:31] #1174 closed

[2020-03-24 00:31] #1311 closed

[2020-03-24 00:31] #1312 closed

[2020-03-24 00:31] #1313 closed

[2020-03-24 00:32] #1316 closed

[2020-03-24 00:32] #1317 closed

[2020-03-24 00:32] #1318 closed

[2020-03-24 00:32] mindstyle85 commented on #1443
@AndyBoWu this can be closed?

[2020-03-24 00:33] mindstyle85 commented on #1448
@LeoHChen this still open?

[2020-03-24 00:34] mindstyle85 commented on #1544
@LeoHChen not sure about this one, can we close it?

[2020-03-24 00:45] #1699 closed

[2020-03-24 00:46] mindstyle85 commented on #1660
@rlan35 this can be closed?

[2020-03-24 00:46] mindstyle85 commented on #1659
@rlan35 this can be closed?

[2020-03-24 00:46] mindstyle85 commented on #1658
@rlan35 this can be closed?

[2020-03-24 00:47] mindstyle85 commented on #1657
@rlan35 this can be closed?

[2020-03-24 00:47] #1562 closed

[2020-03-24 00:47] #1593 closed

[2020-03-24 00:48] mindstyle85 commented on #1635
@Cem-Harmony can this be closed?

[2020-03-24 00:56] #1990 closed

[2020-03-24 00:56] #1763 closed

[2020-03-24 00:58] mindstyle85 commented on #1791
@AndyBoWu this still open?

[2020-03-24 00:59] #1808 closed

[2020-03-24 00:59] #1843 closed

[2020-03-24 00:59] #1859 closed

[2020-03-24 01:00] #1860 closed

[2020-03-24 01:00] #1868 closed

[2020-03-24 01:00] #1883 closed

[2020-03-24 01:01] #1902 closed

[2020-03-24 01:01] #1919 closed

[2020-03-24 01:08] mindstyle85 commented on #2348
i didnt retry this yet, has it been changed?

[2020-03-24 01:09] #2516 closed

[2020-03-24 01:10] mindstyle85 commented on #2507
@BrunoMarshall this is not due to syncing issue

[2020-03-24 01:17] #2212 closed

[2020-03-24 01:18] #2025 closed

[2020-03-24 01:19] #2009 closed

[2020-03-24 01:19] #2002 closed

[2020-03-24 01:19] #1997 closed

[2020-03-24 03:53] LeoHChen commented on #2504
resolved after restart explorer nodes in archival mode.

[2020-03-24 03:53] #2504 closed

[2020-03-24 03:54] LeoHChen commented on #2444
Resolved after restart explorer nodes in archival mode.

[2020-03-24 03:54] #2444 closed

[2020-03-24 05:22] rlan35 opened #2587 "Duplicate bls keys as internal harmony node shouldn't be allowed."
When external node uses same BLS keys are harmony nodes, the logic is messed up, external nodes may get reward because harmony node signed the block.

We shouldn't allow bls keys that's same as internal harmony nodes keys

[2020-03-24 06:18] ivorytowerdds commented on #2545
always eligible but never elected
=====
I notice one node is always eligible to be selected, but never selected after many epochs.
[code]

The staking dashboard info is here:
![image](https://user-images.githubusercontent.com/34232522/77394250-1bdb5800-6d5c-11ea-8220-f3537a6758f4.png)

[2020-03-24 07:07] LeoHChen opened #2588 "get block-by-number return null data"
[code]

[2020-03-24 08:28] janet-harmony commented on #2044
Watchdog reporting 2 leaders. `13.52.219.208` is out of sync.

<img width="394" alt="Screen Shot 2020-03-24 at 1 28 11 AM" src="https://user-images.githubusercontent.com/56005637/77404299-bfcdff00-6d6e-11ea-8c05-8084418008c8.png">

<img width="1649" alt="Screen Shot 2020-03-24 at 1 18 52 AM" src="https://user-images.githubusercontent.com/56005637/77404250-acbb2f00-6d6e-11ea-82d8-a8e6453f47f4.png">

[2020-03-24 08:56] sophoah commented on #2224
@rlan35 today a partner (Edy Senjaya) requested for one of the above feature :
Another question, in regards to reward claim feature, how can i get a list of claimed rewards ? i am using ./hmy blockchain account-history <address> it does not show the list of my claimed rewards , should i use other method to get this list ?

[2020-03-24 09:43] janet-harmony commented on #2491
<img width="1219" alt="Screen Shot 2020-03-24 at 2 42 51 AM" src="https://user-images.githubusercontent.com/56005637/77411126-2c4dfb80-6d79-11ea-9541-40446220e742.png">

Fixed in updated version.

[2020-03-24 09:43] #2491 closed

[2020-03-24 10:14] janet-harmony commented on #2044
<img width="403" alt="Screen Shot 2020-03-24 at 3 13 34 AM" src="https://user-images.githubusercontent.com/56005637/77413990-85b82980-6d7d-11ea-8d01-f60f5925d913.png">

`18.144.14.99` out of sync. STN Shard 1.

[code]

[2020-03-24 11:37] sophoah opened #2589 "OSTN - no epoch change, consensus true, BINGO-ing but no successful sig on shard 1"
**Describe the bug**
Shard 1 seems to buggy right now since rolling upgrade to harmony version ```version v5736-v1.3.5-45-ga817cbe9```

Validator keeps getting kick-out from committee.

Setting it to active will bring it online however signature never increase and actually validator information output will always stays as below:
[code]
Thing is during that non-election, we are actually BINGO-ing w

[2020-03-24 11:41] err0r711 commented on #2589
same here

Shard 1  v5736-v1.3.5-45-ga817cbe9

  "result": {
    "current-epoch-performance": {
      "current-epoch-signing-percent": {
        "current-epoch-blocks-left": 38,
        "current-epoch-signed": 0,
        "current-epoch-signing-percentage": "0.000000000000000000",
        "current-epoch-to-sign": 0

[2020-03-24 11:46] sophoah commented on #2425
For info, shard 3 fully sync of 20k block took me less than 5 min

[2020-03-24 11:55] JB273 commented on #2425
After restart of my shard 0 node, I don't even get "in sync" anymore!?

Restarted syncing shard 0 now ` version v5736-v1.3.5-45-ga817cbe9`

12:26 - block 0 (start)
12:45 - block 7600
12:55 - block 11861

[2020-03-24 12:15] yelllowsin commented on #2589
Having the same issue on shard 1. My node upgraded correctly but got kicked out of commitee. Also, via API epoch is stuck at 458 while blocks keep increasing, which matches what is on [watchdog](http://watchdog.hmny.io/report-staking):

[code]

Activating the node again doesn't solve the issue as it doesn't sign any blocks and gets kicked out of commitee on next epoch:

[code]

[2020-03-24 13:43] mindstyle85 commented on #2232
@janet-harmony can this be closed?

[2020-03-24 13:45] #1911 closed

[2020-03-24 13:45] #1664 closed

[2020-03-24 13:45] #1665 closed

[2020-03-24 13:46] #1636 closed

[2020-03-24 13:46] #1635 closed

[2020-03-24 14:27] BrunoMarshall commented on #2589
Several Validators(on shard1) are facing the same issue# for example: "GORDO" https://staking.harmony.one/validators/one1mpzx5wr2kmz9nvkhsgj6jr6zs87ahm0gxmhlck
![image](https://user-images.githubusercontent.com/35432495/77436468-d5c9d700-6de3-11ea-9bc7-97400d7e282f.png)

[2020-03-24 14:43] yelllowsin commented on #2296
Latest version of hmy has a way to recover from mnemonics now. Tested importing with 12 and 24 words, both worked.

`./hmy keys recover-from-mnemonic account-name`

Mnemonic will be asked and account is recreated from the Mnemonic:

[code]
Help also included the instructions on how to do it:

[code]

Closing this issue. Feel free to reopen if needed ;)

[2020-03-24 14:43] #2296 closed

[2020-03-24 15:27] yelllowsin commented on #1989
@mindstyle85 error message looks ok now for me. It looks on the table list of the hard coded BLS keys if you don't set **-z** for staking. I think parameter **-N** doesn't give the node the info if the network has staking enabled or not, reason **-z** is used for the check here. Maybe close this one? Or if you want to add something on the comments.

[code]

[code]

[2020-03-24 15:30] mindstyle85 commented on #1989
ah forgot to check it, looks ok now

[2020-03-24 16:46] err0r711 opened #2590 "Signing blocks with BLS from two diffrent shards"
./hmy -n https://api.s0.os.hmny.io blockchain validator information one1c9h3u72czs6sk755tjyse7x5t70m38ppnkx922
{
  "id": "0",
  "jsonrpc": "2.0",
  "result": {
    "current-epoch-performance": {
      "current-epoch-signing-percent": {
        "current-epoch-blocks-left": 0,
        "current-epoch-signed": 31,
        "current-epoch-signing-percentage": "0.815789473684210526",
        "current-epo

[2020-03-24 17:00] mindstyle85 commented on #2590
so to put context to this, error edited his validator and added a s2 bls key (his original was s1 bls key, while s1 is kinda rekt).. he then restarted node.sh with just the s2 bls key and didnt remove the s1 bls key, but his signing % are kinda high for just one bls key? Unless s1 bls key isnt even registered now since s1 is rekt?

[2020-03-24 17:02] mindstyle85 commented on #2590
oh and it looks like it only works for 1 epoch (the signing(, then he gets kicked out, but it shouldnt be 81%

[2020-03-24 17:27] yelllowsin commented on #1676
@SebastianJ performed a TX with a huge amount of data on main net and it seems the issue doesn't happen anymore, no hang: https://explorer.harmony.one/#/tx/0xe1072ab1631501253ff58e21bfa2e85795fab475320bdbd7a96f856f56fd180c

Though...i noticed the explorer layout cuts part of the data of the tx when presenting to the user. If you use Chrome Dev tools to check you will see the whole tx data is on HT

[2020-03-24 20:25] stephen-tse commented on #2588
blocking @gupadhyaya @ivorytowerdds for economics testing?

[2020-03-24 20:33] LeoHChen commented on #2411
done. mainnet devop host is built and all pub keys of the team have been populated.

[2020-03-24 20:33] #2411 closed

[2020-03-24 20:41] LeoHChen commented on #2412
The mainnet devop host is setup with mainnet environment. The next step is to add harmony-node.pub to all the legacy nodes `~/.ssh/authorized_keys` file, then we can just use one key to access all mainnet nodes.

The `harmony-node.pub` key is right now in mainnet devhost `/usr/local/confg/` directory. Please checkout the latest nodedb, and append this pubkey to all legacy nodes.

[2020-03-24 20:45] LeoHChen commented on #2414
@Cem-Harmony , are you still on it?

[2020-03-24 20:57] LeoHChen commented on #2447
PR is merged. pending release by @Daniel-VDM . Please close this issue once it is released.

[2020-03-24 21:03] LeoHChen commented on #2410
This will be covered by the following issue.  We will use one key for all mainnet nodes to replace previously used regional based keys.

https://github.com/harmony-one/harmony/issues/2412

[2020-03-24 21:03] #2410 closed

[2020-03-25 01:39] mindstyle85 opened #2594 "cleanup of redundant messages for node.sh"
**Describe the bug**

there are redundant messages that appear with running the node on mainnet:

node.sh: ############### Running Harmony Process ###############
**Bls key not found: 6689f75ae2a7afb458af4505516f1656e99e0356b7c06cd8b8854f3bf0ffcf350c572cf6b5c4614865ea626c8a22c70c
Bls key not found: 6689f75ae2a7afb458af4505516f1656e99e0356b7c06cd8b8854f3bf0ffcf350c572cf6b5c4614865ea626c8a22c70c**
M

[2020-03-25 05:20] LeoHChen opened #2598 "number of nodes on watchdog and uptimerobot doesn't match"
The number of nodes on nodedb/watchdog doesn't match the number of nodes monitored by uptimerobot.  We need to do some clean up of the nodedb.  This is the aftermath of the multi-key migration.

![image](https://user-images.githubusercontent.com/4513927/77504357-52c57280-6e1d-11ea-8ac1-1cbcb3ca9697.png)

![image](https://user-images.githubusercontent.com/4513927/77504370-5d800780-6e1d-11ea-8037-63

[2020-03-25 06:14] LeoHChen opened #2599 "Lost consensus on shard1 of OSTN"
**Describe the bug**
A clear and concise description of what the bug is.

There were 5 harmony nodes on shard1 terminated by AWS due to the spot-instance demand. We lost the consensus on shard1. After OP team brought back the 5 nodes, and restarted the shard, we still can't get the consensus on shard1. On the original leader of the shard1, we found some errors like

[code]

[2020-03-25 06:16] LeoHChen commented on #2599
previously, we were just do a hard reset of the entire shard to keep the uptime of the network. However, we need to find a way to recover the shard given this situation.  Otherwise, if it happened on mainnet, we can't reset the db and restart the shard.

[2020-03-25 07:12] LeoHChen commented on #2599
Talked to @rlan35 , he said the crosslink shouldn't be an issue on non-beacon chain shard and he had fixed in the APR PR.

[2020-03-25 07:12] LeoHChen commented on #2599
restarted the shard and found this error message in all nodes.

[code]

[2020-03-25 07:32] LeoHChen commented on #2599
reading the code, found issue with offchain db not found, core/rawdb/accessors_offchain.go

[2020-03-25 07:47] LeoHChen commented on #2044
![image](https://user-images.githubusercontent.com/4513927/77513438-3c75e180-6e32-11ea-9a77-aba5449c0305.png)

[2020-03-25 10:13] LeoHChen commented on #2599
--- on a validator
{"level":"info","port":"9000","ip":"54.175.96.222","myEpoch":459,"myBlock":25926,"myViewID":25931,"phase":0,"mode":"Syncing","caller":"/home/ec2-user/harmony/consensus/checks.go:23","time":"2020-03-25T08:48:35.711127046Z","message":"sender key not in this slot's subcommittee"}

--- on the leader
{"level":"debug","port":"9000","ip":"107.23.13.24","blockNum":25926,"caller":"/home/

[2020-03-25 12:46] yelllowsin commented on #1534
@LeoHChen this issue can be closed, no? Statically linked binaries are working on main net, i am running node.sh with no issues it is been months using static binaries,

[2020-03-25 12:53] yelllowsin commented on #1667
@rlan35 @coolcottontail I would love to see staking integrated into Ledger Live later on. Having staking via Staking Dashboard is nice, but having it on Ledger Live is even better. Something to work on afterwards, if not in the plans already?

https://support.ledger.com/hc/en-us/articles/360010653260-Earn-Tezos-staking-rewards

[2020-03-25 17:47] LeoHChen opened #2604 "[Analysis] classify the zerolog in different category for OSTN"
# Problem/limitation At Hand

we have generated a huge amount of data in our zerolog and we'd like to do some more analysis on it.

One initial thinking is to  do some basic stats on different level of log, like "error", "warning", "debug", "info", and then zoom into the "error", we care most right now.

For error logs, they shall all start with "error" as the key in the json format. We'd further

[2020-03-25 18:07] ivorytowerdds commented on #2545
when I am testing today. I created a validator(Yishuang-2) which shares the same bls key with my another existing validator(Yishuang). The status of the (Yishuang-2) is always eligible, but never selected. Maybe has the same issue with the former node.

![image](https://user-images.githubusercontent.com/34232522/77568341-b2efff00-6e85-11ea-9448-552b6917d7b5.png)
[code]
![image](https://user-images

[2020-03-25 18:59] LeoHChen commented on #2604
@Daniel-VDM , we can setup a cron job in devop machine to pull the logs from OSTN and upload them to a bucket, folder structure like year/month/day.  We may also need to remove the old logs from the machine after the download/upload.

[2020-03-25 19:19] AndyBoWu commented on #2412
I have added `harmony-node.pub` to every single legacy node on the mainnet. Also, I did some QA on my side to make sure the pub key did get added into the file.

[2020-03-25 19:19] #2412 closed

[2020-03-25 19:37] ivorytowerdds commented on #2604
@LeoHChen We have errors in four levels, do we need to get analysis on both 4 levels, or only "error" level itself?

Here is an example of the basic analysis for level: error.
I think the next step is to further classify and name the error.
![image](https://user-images.githubusercontent.com/34232522/77577514-2b5dbc80-6e94-11ea-861c-ea7883a26db0.png)
![image](https://user-images.githubusercontent.c

[2020-03-25 23:17] LeoHChen commented on #2604
very nice! error is just one level.

[2020-03-25 23:34] #2351 closed

[2020-03-26 00:02] LeoHChen commented on #2604
the rpc error warning can be classified into one; just different IP address

[2020-03-26 00:03] LeoHChen commented on #2604
is it based on lastest log of OSTN?  how long is the period of the log? one day, or just one node?

[2020-03-26 01:01] ivorytowerdds commented on #2604
Not latest. It's OSTN 03/19 about 3-4 hours data.  And it's for s0 leader.  Just use this as an example to write the script.

I currently have 03/20's 21 hours' data (almost a day), I can analyze on that now. For newer data, Daniel is currently working on helping me set up the pipeline for logs. Once he finishes, we can get the newest data and longer period.

[2020-03-26 04:10] AndyBoWu opened #2607 "Shards of OSTN are out of Consensus Right After Release"
**Describe the bug**
Right after the latest release on OSTN, shard 1, 2 and 3 lost consensus after a short while.  Shard 1, 2, 3 are stuck at the 61st, 71st, 58th blocks, respectively.

**Version number**
[ec2-user@ip-172-31-93-165 ~]$ LD_LIBRARY_PATH=. ./harmony -version
Harmony (C) 2020. harmony, version v5720-v1.3.5-29-g4d282235 (ec2-user@ 2020-03-26T03:10:36+0000)

I went to the leader nodes o

[2020-03-26 09:01] sophoah commented on #2425
```version v5737-v1.3.5-46-gd65afe3d``` report
s0 600 blocks took 2 min
s3 600 blocks took 15s

[2020-03-26 09:30] #1676 closed

[2020-03-26 15:18] sophoah commented on #2545
@ivorytowerdds i think the error you have is different from what has been describe in this issue. might be worth a different issue actually. For your case, you have 2 validators:
- one12mx7ssutgvd243g5vpvefl5sf6vttqkq5z3x04 (created at block 25363)
- one1fd094898rfktel7rezmk65zql3cjzhw9zgxcff (create at block 17599)

looks like the very first validator created is already signing correctly and has

[2020-03-26 18:07] gupadhyaya commented on #2590
@mindstyle85 we need to update `current-epoch-to-sign`, `current-epoch-signing-percentage`, etc to accommodate multi-bls. Right now it only shows per bls key until 38 (#blocks per epoch) and then increases if validator has more bls keys signing. This is also the issue why,  `current-epoch-to-sign` shows overflowed numbers. Will fix it soon.

[2020-03-26 18:29] BrunoMarshall opened #2609 "go-sdk code - Missing transaction error message for sending negative zero"
Is missing the error message, when the input is a negative value:  -0

Current Design
![image](https://user-images.githubusercontent.com/35432495/77682969-018dbe00-6f98-11ea-9b13-534cc3bdeccb.png)

Proposal
Should show : " transaction value is : negative value "

[2020-03-26 18:29] mindstyle85 commented on #2590
@gupadhyaya ah that makes sense, thanks for letting us know :)

[2020-03-26 19:04] janet-harmony commented on #2433
@sophoah @mindstyle85
`getValidatorInformation` no longer has an active field. Can you check that this still applies to the `epos-status` field on the current OSTN, when its up?

[2020-03-26 19:18] janet-harmony commented on #2589
@sophoah
Known issues with OSTN network Shard 1 & Shard 2 being down for some time, while we were testing some shard recovery processes.
Can you double-check that this issue still exists on the new network?

[2020-03-26 21:01] yelllowsin commented on #2609
Did a test using latest HMY. Actually it is just not recognizing the - in front of the parameter, thus the tx is performed with 0 amount as you can see in the result. Minor change just to validate positive float numbers. I am assigning Daniel and moving this to SDK as it fits better that, ok @BrunoMarshall ?

[code]

`./hmy --node="https://api.s0.os.hmny.io" transfer --from one170xqsfzm4xdmuyax54t

[2020-03-26 21:36] yelllowsin commented on #2506
Thanks, working ok now. Closing this issue.

[code]

[2020-03-26 21:36] #2506 closed

[2020-03-26 22:55] LeoHChen commented on #2604
nice, we have more data to be analyzed on a daily basis. Thanks

[2020-03-26 23:40] rlan35 commented on #2555
https://github.com/harmony-one/harmony/pull/2612 this PR has the analysis and fix.

[2020-03-26 23:50] #2241 closed

[2020-03-26 23:52] #2126 closed

[2020-03-26 23:52] Daniel-VDM commented on #2232
Fixed on CLI by reporting of error sink. But with staking refactor, we will hook into the sanity check done in the main repo.

[2020-03-26 23:52] #2232 closed

[2020-03-26 23:53] #2260 closed

[2020-03-27 00:06] mikedoan commented on #2225
![image](https://user-images.githubusercontent.com/40258599/77708041-29732680-6f84-11ea-8786-5dbcf15190ec.png)

[2020-03-27 00:10] mikedoan commented on #2225
i tested and did not get any zero -

also FYI, the reward amount may be different from the reward you saw before claiming rewards because the rewards get increased in every epoch.

[2020-03-27 00:10] mikedoan commented on #2225
@yelllowsin maybe you dm-ed to test together

[2020-03-27 00:10] yelllowsin commented on #2225
@mikedoan i have just tested claiming 4000 ONE's and it still shows as zero. If you claim with small amounts like 7 ONES it works.

![image](https://user-images.githubusercontent.com/7217595/77708215-39036700-6fa6-11ea-9e00-8a564dfcf540.png)

[2020-03-27 00:12] yelllowsin commented on #2225
@mikedoan sure, i can DM you on Discord. For me to replicate this i would have to wait a bit more to gather more than 1000 ONE's. It shouldn't take longer.

[2020-03-27 01:31] ivorytowerdds commented on #2545
@sophoah
I see, I will create a new issue.

[2020-03-27 07:31] ivorytowerdds opened #2614 "no detection of bls key already used in another validator"
when I am testing today. I created a validator(Yishuang-2) which shares the same bls key with my another existing validator(Yishuang) who is currently in committee. The status of (Yishuang) is currently elected and eligible, the status of the (Yishuang-2) is always eligible, but never elected.

Key (Yishuang)'s info:
-----
![image](https://user-images.githubusercontent.com/34232522/77568341-b2efff

[2020-03-27 08:06] BrunoMarshall commented on #2348
This issue happened again, here is the feedback from "K90E" community member
"I tried it once and got: [CreateValidator] current shard-id: 0: insufficient funds for gas * price + value -- 2020-03-27 04:16:58 +0000 UTC
[CreateValidator] current shard-id: 0: insufficient funds for gas * price + value -- 2020-03-27 04:22:08 +0000 UTC
commit: v333-80a4f42, error: staking transaction error
tried it aga

[2020-03-27 08:55] BrunoMarshall commented on #2225
Hi all, collected today more >15000, same error:
if you see my previous message i´m assuming that the error accours with >1000
![image](https://user-images.githubusercontent.com/35432495/77738996-178b9500-7011-11ea-8ce9-5d8e6e482f23.png)

[2020-03-27 09:13] sophoah commented on #2225
@mikedoan yeah same

before :
![image](https://user-images.githubusercontent.com/35721420/77740246-de254a80-704d-11ea-830f-219e228093e8.png)

claim the 1000+ woud show with 0 :
![image](https://user-images.githubusercontent.com/35721420/77740313-fb5a1900-704d-11ea-8345-1d80c6f09a6d.png)

and claim again when it is still below 1000 will work:
![image](https://user-images.githubusercontent.com/35721

[2020-03-27 13:06] lijiang2087 commented on #2607
assign this to rj?

[2020-03-27 13:07] lijiang2087 commented on #2614
@ivorytowerdds assign this to someone?

[2020-03-27 14:52] SebastianJ opened #2615 "STN/stressnet: Consensus lost on shard 0 after multiple (25+) double-signing tests on shard 1"
**Describe the bug**
After running multiple double-signing tests on shard 1 on STN shard 0 eventually lost consensus.

This is quite weird and concerning since shard 0 was merely used to fund validator and delegator accounts and for creating validators and sending delegations.

All double-signing activity happened on shard 1 - I don't think I even tested it once on shard 0.

**To Reproduce**
I ran

[2020-03-27 17:26] mikedoan commented on #2225
I got it now - we are working on fixing. this.

On Fri, Mar 27, 2020 at 2:13 AM Soph <notifications@github.com> wrote:

[2020-03-27 17:36] LeoHChen commented on #2555
We are expecting a rolling upgrade of OSTN today with RJ's fix. Please confirm if it still the issue after today.

[2020-03-27 18:26] mikedoan commented on #2225
It should be a bug in chrome extension - I believe you got. the rewards but
it just showed 0. a fix is coming soon

On Fri, Mar 27, 2020 at 10:26 AM Minh Doan <minh@harmony.one> wrote:

[2020-03-27 19:52] NiteeshHarmony opened #2616 "Create Harmony Azure account"
Hey Leo, create a Harmony Azure account and we'll apply the credits to that account.

[2020-03-27 20:33] mindstyle85 opened #2618 "wrong stake on dashboard"
**Describe the bug**

Main validator page on dashboard shows wrong validator stake. I am not sure if this is just UI/backend or something else so i opened it here and will move upon confirmation. Above are the screenshots and rpc info:

],
      "total-effective-stake": "973647500000000000000000.000000000000000000"
    },
    "total-delegation": 2.241808e+24,
    "validator": {
      "address": "o

[2020-03-27 21:31] mikedoan commented on #2225
fixed and tested with @yelllowsin

now we should use the new one at https://github.com/harmony-one/staking-dashboard/tree/master/extension_versions

[2020-03-27 21:31] #2225 closed

[2020-03-27 22:28] LeoHChen commented on #2573
did you remove any md5sum file or staging directory?

[2020-03-27 22:29] LeoHChen commented on #2573
also, you are not using static binary, right now, we are switch to static binary, please add `-I` option to your node.sh command line.

Please monitor the results and let me know for the next rolling upgrade. Thanks.

[2020-03-27 22:33] mindstyle85 commented on #2573
Didnt remove anything.

And used dynamic since static was sigseving for me before but i just switched to static today, so will monitor this rolling upgrade and let you know/close the ticket

[2020-03-27 22:57] LeoHChen commented on #2539
@mindstyle85 , please provide some more details on the OS.  I run the node.sh with Amazon Linux 2 and I tried to trigger panic and the stack trace was print out to my console.

You can also try to use `pkill -SIGABORT harmony` to trigger a trace dump to check.

Another thing you may try to use `ulimit -c unlimited` to enable core dump on the system.

[2020-03-27 23:42] mindstyle85 commented on #2539
@LeoHChen this was edgar's, i just added the label, and the user was a volunteer but i will try to get the OS at least

[2020-03-27 23:57] mindstyle85 commented on #2539
the volunteer got this on Vultr Ubuntu 18.04, unfortunately it was just one time and he is now using Linux Mint - says he doesnt have any issues anymore

[2020-03-28 05:02] gupadhyaya commented on #2590
@mindstyle85 investigated this further. looks like the percentage should be computed correctly even in case of multi-bls as these computations treat individual keys and aggregate the counters for all the keys associated with the validator. could you please reproduce this again and let me know? thanks.

[2020-03-28 06:17] sophoah commented on #2615
@SebastianJ the slash is done towards the same validator right ? so there should still be enough node to participate into consensus, or do i miss anything ?

[2020-03-28 06:21] SebastianJ commented on #2615
@sophoah the issue seems to be that the protocol can't deal with the fact that one or several validators have their self-stake set lower than the minimum required self-delegation (because they got slashed).

Because of that bug, it seems that new blocks can't be proposed because the node can't figure out the correct state for the validators participating in the committee.

[2020-03-28 06:29] sophoah commented on #2615
Ok technically the min-self-delegation shouldn't be taking into consideration during EPOS or consensus and only used during the validator creation.

[2020-03-28 07:16] JB273 commented on #2615
@SebastianJ @sophoah  If the validator falls below min-self-delegation due to slashing, is this going to be solved by messaging a validator so one can make the validator compliant to the rules of EpOS? So if slashing sets your self-stake below the 10000, the validator self should first refill at least until the minimum value before able to participate again in committee selection!?

[2020-03-28 08:01] sophoah commented on #2590
@gupadhyaya i put in discord a screenshot of that screnario that runs with no issue for me. maybe if @mindstyle85, @err0r711, @yelllowsin  still have problem, we might need to look at the vps specs. I'll check with them how they did and the difference with their setup and mine

[2020-03-28 08:05] sophoah commented on #2615
@JB273 the min-self-delegation measure of 10k is just to avoid spams. Once it is created, and even if it goes to 0, for me it shouldn't be an issue. Remember we talked about having 1 ONE symbolic for the validator and delegate all our one token to it ?

being below the min-self-delegation shouldn't bring prevent the epos election. EPOS election should only depends on the total-stake you have (your

[2020-03-28 13:46] SebastianJ commented on #2187
This is still not fixed - I broke shard 1 on STN in a couple of minutes running tx payload spam with oversized tx data.

Nodes do not OOM now - but consensus still gets messed up.

[2020-03-28 20:33] mindstyle85 commented on #2590
@sophoah this was a different issue than what you think, check the two bls keys that are attached to the validator, and there was just one node..

@err0r711 can you try replicate it please?

[2020-03-29 04:45] sophoah commented on #2590
@mindstyle85 yeah @err0r711 clarified that to me yesterday. At the first place, the node should not be able to run keys that belongs to different shard.

now if we try to replicate, the node won't start and tell you your keys are running into 2 different shard. I tried that 2 days ago.

if node was able to run, we have to expect that one of the 2 BLS would fail to sign and drop us from the committ

[2020-03-29 04:57] SebastianJ opened #2625 "STN/stressnet: Consensus lost on shard 0 after double-sign tests"
**Describe the bug**
I ran the exact same set of tests that resulted in issue #2615 - with the difference that STN was relaunched using https://github.com/harmony-one/harmony/pull/2623

Now nodes seem to crash/panic:

[code]

**To Reproduce**
[code]

**Expected behavior**
Shard 0 should be able to deal with double-signing validators.

[2020-03-29 10:42] mindstyle85 commented on #2389
@SebastianJ can you try this on STN now?

[2020-03-29 14:50] err0r711 commented on #2590
"current-epoch-blocks-left": 18446744073709552000,
        "current-epoch-signed": 33,
        "current-epoch-signing-percentage": "0.500000000000000000",
        "current-epoch-to-sign": 66
      }
    },
    "currently-in-committee": true,
    "epos-status": "currently elected and signing enough blocks to be eligible for election next epoch",
    "lifetime": {
      "apr": "0.008366063404393574"

[2020-03-29 14:51] #2590 closed

[2020-03-29 17:55] fxfactorial commented on #2625
Should be fixed by https://github.com/harmony-one/harmony/pull/2626

[2020-03-29 17:56] fxfactorial opened #2628 "Adjust the slashing rate business logic"
[code]

[2020-03-29 20:04] fxfactorial commented on #2565
Should be fixed as of now, let's reopen if any new issue.

[2020-03-29 20:04] #2565 closed

[2020-03-29 20:15] lijiang2087 commented on #2625
should we close this one then? @fxfactorial

[2020-03-29 20:16] fxfactorial commented on #2625
convention on closing issues is that OP will try again same initial conditions after mentioned PR is merged/deployed.

[2020-03-29 23:42] janet-harmony commented on #2433
Not able to reproduce, closing this issue.

[2020-03-29 23:42] #2433 closed

[2020-03-30 00:44] rlan35 opened #2630 "Change block signing logic to include view ID in the signed content"
Previously, the consensus signatures are signed on blockHeight+blockHash.

We need to include also viewID in the signed data, which is required by the new slashing logic.

Search for "signature on hash+blockNum+viewID (add a hard fork)" in the code base and find all the places where viewID needs to be added into the signature.

Need to add the new logic as a fork at staking epoch.

[2020-03-30 03:06] LeoHChen commented on #2425
@sophoah , do you have any updated data on the sync. up time of s0 and other shard?

[2020-03-30 10:42] SebastianJ opened #2632 "STN/Stressnet: double-signing leads to corrupt blocks: BAD BLOCK / invalid merkle root"
**Describe the bug**
I ran a set of double-signing tests on shard 0 on a freshly restarted STN network (commit: https://github.com/harmony-one/harmony/commit/74a5eda7)

Somehow after triggering double-signing using a shard 0 validator no newly joined nodes can sync past a given block that has ended up getting corrupted:

`
{"level":"error","port":"9000","ip":"xxx.xxx.xxx.xxx","caller":"/home/deplo

[2020-03-30 11:57] SebastianJ commented on #2615
Looks like it's solved 🎉

[2020-03-30 11:57] #2615 closed

[2020-03-30 11:58] SebastianJ commented on #2625
Tested on STN with latest master, managed to get 100% slashed validators + delegators and nodes still haven't crashed due to `division by zero` - so seems to be fixed

[2020-03-30 11:58] #2625 closed

[2020-03-30 13:41] CryptosWolfOfAllStreets commented on #2425
@LeoHChen Currently testing this on s0
deleted db and restarted node at 14:07 today
reached 10k blocks by 14:37 so 30 mins to get to 10k
current leader height 40k so at this rate and speed the current sync time is 2 hours.

Will add a further comment with the exact time taken to achieve full sync

[2020-03-30 14:00] sophoah commented on #2425
Hi @LeoHChen, tested on ```v5765-v1.3.5-74-g7394956d```
S1 39k - 15 min
S0 39k - 2h45

[2020-03-30 14:03] mindstyle85 commented on #2425
i can confirm, s0 takes about 30min per 10k blocks, while s2 takes about 4min or so per 10k blocks

[2020-03-30 16:48] #2588 closed

[2020-03-30 17:22] Road00 opened #2634 "Can't check validator information for the local test network"
**Describe the bug**
Can't check validator information for the local test network

`
root@8069ce907413:~/go/src/github.com/harmony-one/harmony# hmy blockchain validator  all
{
  "id": "0",
  "jsonrpc": "2.0",
  "result": []
`

**To Reproduce**
Steps to reproduce the behavior:
1. Run localnet based on the docker image
2. Wait for staking epoch

[2020-03-30 17:32] fxfactorial commented on #2632
This might not be issue since latest stress net commit which fixed other consensus issue as well

[2020-03-30 17:56] rlan35 commented on #2632
yea, likely a non-issue but an incompatible binary thing. @SebastianJ can you confirm that the new node's binary is the same as the nodes in consensus?

[2020-03-30 18:03] rlan35 commented on #2634
@Road00 did you create any validator in the local net? If not, then the empty result is expected.

[2020-03-30 18:27] lijiang2087 opened #2637 "is bls generation random? i just got shard 2, 4 times in a row"
[ec2-user@ip-172-31-17-98 ~]$ ./hmy keys generate-bls-key --passphrase
Enter passphrase:
Repeat the passphrase:

{
  "public-key": "115c71debb8883a737057d812e9e32986b495781467458e2d5bf6dea966f574c6bed4ae4f1f5988f925e92cd6d9c1002",
  "private-key": "358607410289b6de2d188db4d3b27a4045b5901287692afaeb24133ba5777d70",
  "encrypted-private-key-path": "/home/ec2-user/115c71debb8883a737057d812e9e32986b49

[2020-03-30 18:34] gupadhyaya commented on #2637
bls key generation is random, but key to shard assignment is less random as it is based on simple modulus.

[2020-03-30 18:52] lijiang2087 opened #2638 "what happened to shard 0 and 1?"
![image](https://user-images.githubusercontent.com/3784595/77950169-fa5afe80-727c-11ea-95f3-63ba8ad45297.png)

[2020-03-30 18:56] lijiang2087 commented on #2638
@janet-harmony explained

They probably weren't restarted at the moment you checked

[2020-03-30 18:56] #2638 closed

[2020-03-30 19:27] #2587 closed

[2020-03-30 19:27] #2558 closed

[2020-03-30 19:48] fxfactorial commented on #2637
exactly. key to shard is not random but the key itself is.

Also `hmy` is from `go-sdk` so methinks better to open issues there for `hmy`

[2020-03-30 19:48] #2637 closed

[2020-03-30 19:55] fxfactorial commented on #2634
The docker image doesn't create a validator for you, you are to make one.

this is Open Staking test network right now.
[code]

...so the docker image is more for development. To run a node, see this documentation:
https://docs.harmony.one/home/validators/first-time-setup/running-a-node

(Soon I will make a docker image so easy to just run a node on OSTN without using node.sh as in docs)

[2020-03-30 19:55] #2634 closed

[2020-03-30 21:23] fxfactorial commented on #2628
Implemented in https://github.com/harmony-one/harmony/pull/2639

[2020-03-30 21:23] #2628 closed

[2020-03-30 21:24] fxfactorial commented on #2630
@Daniel-VDM this will be a big PR, lots of work here

[2020-03-31 05:21] BrunoMarshall commented on #2589
Hi Soph, we don´t have anymore the issue with epoch frozen "no epoch change" but some volunteers are reporting issue with signing, specially using multi-BLS keys.
@sophoah can we close this issue and possibly open one for signing related issue? like this : https://github.com/harmony-one/harmony/issues/2500

[2020-03-31 07:15] gizemcakil opened #2644 "7/9 keys active but elected is 9/9"
When I stopped the node and stopped the AWS instance, my validator kept the slots associated with those instances.

This seems like an easy arbitrage opportunity for validators because they don't 'actually' have to run nodes to keep their slots and earn.

my steps:

1. I have a validator with 9 keys, in 3 different t3.small instances
<img width="317" alt="image" src="https://user-images.githubuser

[2020-03-31 07:20] gizemcakil commented on #2644
Adding what my CLI returns for validator information after the fact that i killed those instances. Please note that I didn't --remove-bls from the validator

  }
}
[ec2-user@ip-172-31-32-12 ~]$ ./hmy --node=https://api.s0.os.hmny.io/ blockchain validator information one1rcv3chw86tprvhpw4fjnpy2gnvqy4gp4fmhdd9
{
  "id": "0",
  "jsonrpc": "2.0",
  "result": {
    "current-epoch-performance": {

[2020-03-31 08:56] SebastianJ commented on #2632
Yeah, was a binary mismatch - closing.

[2020-03-31 08:56] #2632 closed

[2020-03-31 18:05] mindstyle85 commented on #2644
theyre still elected since their stake is high enough, but it does affect your signing:

"current-epoch-performance": {
      "current-epoch-signing-percent": {
        "current-epoch-signed": 252,
        "current-epoch-signing-percentage": "0.777777777777777778",
        "current-epoch-to-sign": 324,
        "num-beacon-blocks-until-next-epoch": 3

what strange is that if 3 out of 9 keys arent s

[2020-03-31 18:08] mindstyle85 commented on #2644
actually this looks ok, youre signing with 7/9 keys, so thats 77,77777%:

"current-epoch-performance": {
"current-epoch-signing-percent": {
"current-epoch-signed": 252,
"current-epoch-signing-percentage": "0.777777777777777778",
"current-epoch-to-sign": 324,
"num-beacon-blocks-until-next-epoch": 3

and i think those 2 keys are still elected due to the high % of signing, just not sure if that shoul

[2020-03-31 18:28] fxfactorial commented on #2644
I think @gupadhyaya also answered on discord similarly,
[code]

[2020-03-31 18:36] mindstyle85 opened #2651 "TXs not working on OSTN"
**Describe the bug**

Looks like regular transactions dont work correctly on OSTN now (looks like tx is attempted to send out but in the end it is not, just tx fee is taken):

1. this is the address ive sent to (balance is 10k for the receiver): https://explorer.os.hmny.io/#/address/one1cnemlekm45ur3e5vc55xacf3xgs8gay8d0fcmg

2. this is the tx i did (balance is 30M for the sender): https://explore

[2020-03-31 18:49] fxfactorial commented on #2644
@gizemcakil Not a bug, this is supposed to be this way:

because getting kicked out of committee selection is by validator one address, not per individual BLS key. A BLS key doesn't get kicked of election process, the validator does.

So the validator's signing percentage was

[code]

which is sufficient for the validator to be in the next EPoS election and hence whatever keys they want to use, su

[2020-03-31 18:50] mindstyle85 commented on #2651
this one works though, sent it to one of my own addresses:
https://explorer.os.hmny.io/#/tx/0x8f049c5ad5b366e22af4a01fa67ee572f73841453c56253ce9a79701a549cf1d

is there a chance theres something wrong with that address we were sending to? that one called the faucet for funds and got them, then there were 3 attempts to send funds to it and all didnt arrive but are visible in tx history (the 100k tr

[2020-03-31 18:52] Dewansahil commented on #2644
@fxfactorial the bls keys within the instance which was killed will still be sitting idle and blocking seats in that shard because the 'validator' is still 'elected'. This way a validator can block seats even without staking/signing?

[2020-03-31 18:54] mindstyle85 commented on #2644
thats odd, when i tested with 3/4 keys active, the 3 were elected, and the one that wasnt signing was not elected, did this change since then?
im asking this because the 2 bls keys that arent signing here are still in the comittee and are using up seats for others that would actually sign
so unless im missing something it should be just 7/9 elected

[2020-03-31 18:54] fxfactorial commented on #2644
They paid for the slot, they can do what they want with it during the epoch. They aren't blocking seats, they won the auction and can do to do with it what they wish. So if they don't sign, they they are hurting themselves as well since that key isn't earning. Gizem's signing percent wasn't 100%, it was 77% so clearly there is some token reward not being earned.

I will try to extend the `hmy bloc

[2020-03-31 19:02] mindstyle85 commented on #2644
while i can understand that, and this probably wont happen on a real network, but why let him stay in after 1 epoch of not signing with the key? its also bad for the network, not just for him?

[2020-03-31 19:06] gupadhyaya commented on #2644
@mindstyle85 whales cannot attack as long as they sign 2/3. If they don't they will get kicked out. Remember we only require 2/3.

[2020-03-31 19:07] gizemcakil commented on #2644
Who thinks this is a better design than kicking out those keys that are no longer signing?

Are there other trade-offs?

[2020-03-31 19:10] fxfactorial commented on #2644
By not signing then the validator is hurting themselves economically. Banned the key doesn't really mitigate it because they can just do it again with a new BLS key, you can always just generate a new key in the next epoch and adjust with edit-validator.

[2020-03-31 19:12] mindstyle85 commented on #2644
ok this is a valid point, they can just edit it and add a new bls key, or activate their validator again

[2020-03-31 22:00] AndyBoWu commented on #2187
"The txns with large extra data overloaded the network and caused the leader to fail to send out Prepared messages."

@SebastianJ what is the size of the extra data? 32 KB? We can set a rule to decline any request larger than certain size.

[2020-03-31 22:09] gupadhyaya opened #2654 "Validator's effective stake is out of range of the current epos-median-stake"
**Describe the bug**
Validator's effective stake under "metrics"->"by-shard" is out of range of the current median obtained using `getMedianRawStakeSnapshot`

[code]

check the median stake below:
[code]

Bounds based on median 285,000 ONEs
[code]

As the stake of the validator above is more than the upper-bound, it should have been assigned
an effective-stake = 327750, instead of 334650.

Now whe

[2020-03-31 22:37] AndyBoWu commented on #2044
same error on shard 2, rebooted the node

`
{"level":"warn","port":"9000","ip":"13.231.200.234","error":"rx overrun","sender":"QmVGXmHm3N69KaR7oiYxT7CxXesaUEBdwPQusL2qBa6ZmM","caller":"/mnt/jenkins/workspace/harmony-release/harmony/node/node_handler.go:62","time":"2020-03-31T22:29:23.459618593Z","message":"cannot enqueue incoming message for processing"}
`

[2020-03-31 23:38] mindstyle85 commented on #2651
so just  to update, even though Daniel already knows, the one1cnemlekm45ur3e5vc55xacf3xgs8gay8d0fcmg address seems to be running a smart contract (supposedly faucet), and it rejects all transactions to it (except when he used the real faucet)

[2020-03-31 23:44] mindstyle85 commented on #2651
update: so smart contract addresses want more gas, thats why the transactions failed because default gas isnt enough.

Daniel will check into a way to find out if an address is running a smart contract (and possibly return an error message for these kind of txs)

[2020-03-31 23:47] Daniel-VDM commented on #2651
With a bumped gas limit and gas price I was able to send a transaction and have it reflected on the addr. https://explorer.os.hmny.io/#/tx/0x13e2bbb263b20092b2d08dc0177c4423cc073429a10d1488a951bcc9260a99d0

[2020-03-31 23:47] #2651 closed

[2020-03-31 23:53] fxfactorial opened #2658 "Rename field `by-shard`"
We need to change this field's JSON name,

https://github.com/harmony-one/harmony/blob/master/staking/types/validator.go#L183

of `by-shard` to `by-bls-key`. Note that doing so will probably break staking dashboard so need to let @mikedoan known and batch this fix into something that staking dashboard will need an update for as well.

Also note that it might break shez's telegram tool, so need to

[2020-04-01 01:39] ivorytowerdds opened #2660 "crosslink delay for non-beacon shards to receive rewards"
For a non-beacon shard validator, I notice his earning (reward for validator) changes at the 4th block for each epoch. After talking to RJ, it may be because the crosslinks at the beginning of the epoch arrives a bit late so the reward for other shards didn't change at the first few blocks.

for a beacon shard validator, his earning changes at the 2nd block.

![image](https://user-images.githubuse

[2020-04-01 02:38] #2545 closed

[2020-04-01 02:52] fxfactorial commented on #2614
so we can close this?

[2020-04-01 03:47] songgeng87 opened #2662 "panic while sync the block with binary release"
**Describe the bug**
panic while sync the block

the release version is:
Harmony (C) 2019. harmony, version v5036-v1.2.4-2-gd116332a (jenkins@ 2020-02-25T04:39:57+0000)

start the node with supervisor:
harmony -bootnodes /ip4/100.26.90.187/tcp/9874/p2p/Qmdfjtk6hPoyrH1zVD9PEH4zfWLo38dP2mDvvKXfh3tnEv,/ip4/54.213.43.194/tcp/9874/p2p/QmZJJx6AdaoEkGLrYG4JeLCKeCKDjnFz2wfHNHxAqFSGA9,/ip4/13.113.101.219/t

[2020-04-01 05:06] janet-harmony commented on #2589
Not able to reproduce this specific issue, closing it.

[2020-04-01 05:06] #2589 closed

[2020-04-01 05:31] danbedford opened #2663 ""Error code 0x6803" when attempting to create Validator with Ledger address"
**Describe the bug**
When attempting to create a validator using a Ledger address, an error occurs at signing.

**To Reproduce**
Verified that Ledger works on local Mac, `./hmy.sh -- keys list --ledger` worked as expected.

Set up 2 node instances, each with 3 BLS keys. Downloaded all 6 BLS keys to local Mac. Initially organized the keys into separate folders from hmy.sh and attempted the followin

[2020-04-01 05:44] Daniel-VDM commented on #2370
This has been completed: http://analytics.hmny.io/
Ops tooling: https://github.com/harmony-one/analytics-ops

[2020-04-01 05:44] #2370 closed

[2020-04-01 07:28] fxfactorial commented on #2663
@coolcottontail can you check this out please

[2020-04-01 10:31] mindstyle85 commented on #2644
@fxfactorial i was thinking about this.. not sure theres any better solution because of multiBLS here, so maybe at least make it back so that the non active bls keys arent elected (or stay elected), so that the owner of them has to at least notice that and edit validator to get them all back to active, seems to me its better than not making them at least do this (not necessarily for those that wou

[2020-04-01 13:35] sophoah commented on #2614
@fxfactorial depends if we are ok to allow the creation of a validator using a BLS that is already defined in another validator. @gupadhyaya mentioned in #2633 that the second BLS created later won't be used for election and that is fine, we just need to be aware and let whoever hit that issue again know about that logic. I was hoping with #2633 would check as well all the external validator for t

[2020-04-01 13:54] BrunoMarshall commented on #2500
I will re-open this issue , several people is reporting signing issues after the hard-restart.
- version v5772-v1.3.5-81-g64305ba5 (jenkins@ 2020-03-30T19:09:15+0000)

[2020-04-01 14:08] BrunoMarshall commented on #2500
Crypto Jedi specs:
- Vps provider: google cloud
- vps specs: as in the doc
- shard:0
- BLS:1

[2020-04-01 14:10] BrunoMarshall commented on #2500
Dave specs (having issues):
- Vultr,
- Higf freq. 64 GB NVMe $12/mo $0.018/h 1 CPU 2048MB Memory 2000GB Bandwidth,
- Shard 2
- 1 bls

[2020-04-01 14:18] mindstyle85 commented on #2500
note that this happened after the network has been running for a day already, now there are lots of BLS keys active 72 validators (145 bls keys total)

[2020-04-01 14:29] sophoah commented on #2644
@mindstyle85 guess we would need some monitoring tools that will tell us if 1 or more of your BLS is not earning. And that would be possible with the latest update from @fxfactorial

[2020-04-01 15:00] mindstyle85 opened #2665 "[Feature] create validator name and identity"
# Problem/limitation At Hand

I was thinking about the current validator creation system (i have not checked other networks yet) but since name and identity fields arent unique, we could have random validators trying to fake/impersonate a staking pool, binance etc.. (logos are also on the internet so not hard to fetch those too).

# Proposed Solution

Make name and identity unique, although that d

[2020-04-01 15:01] fxfactorial commented on #2665
Not really. Only way to be really verified is cryptographically.

[2020-04-01 15:03] sophoah commented on #2665
what about the validator one account ? that should be unique right ?

[2020-04-01 15:17] mindstyle85 commented on #2665
yeah, just not sure how others solve this.. because theres already a problem if someone registers a validator with say Binance or Sesameseed name first, basically stealing their most general name..

@sophoah yes one address is unique but only with that you cant verify if binance is really binance

[2020-04-01 17:48] fxfactorial commented on #2665
When validator creates their BLS keys, they have to validate with a verification of a signing. So maybe the validator (on their website) provides some signed value by the BLS key and we also expose what they signed on initial entry. This way could verify validator really is associated with those BLS keys

[2020-04-01 19:05] BrunoMarshall opened #2668 "Block Explorer - Option to see size of the blocks and to "jump" easily between pages"
The proposal is to have in the block explorer the block size and an easy away to jump between pages
- Why is so important to have block size?:
# because in a situation of issues we can easily identify the block that had problems
-Why is necessary arrows to "jump" between pages?:
# because will be easy to search the block

# Proposed Solution
![image](https://user-images.githubusercontent.com/35432

[2020-04-01 19:07] #2658 closed

[2020-04-01 19:49] #2644 closed

[2020-04-01 20:37] fxfactorial commented on #2665
@gupadhyaya what do you think?

[2020-04-01 22:13] #2520 closed

[2020-04-01 22:14] Daniel-VDM commented on #2447
released

[2020-04-01 22:14] #2447 closed

[2020-04-01 22:52] Daniel-VDM opened #2673 "Error sink contains msgs for successful transaction"
The error sink just reports any error by the tx hash and does not remove an error msg once a tx is successful. This should be fixed as the CLI (and various other tools) rely on this sink for error checking.

[2020-04-01 22:54] mindstyle85 commented on #2665
i like it, only thing that might be a problem is the website - not sure every validator will have it, unless we only care about staking service providers which would make sense.. otherwise maybe we can do the verification list directly on harmony website?

[2020-04-01 23:31] LeoHChen commented on #2573
please provide some update on this issue. If no problem anymore, please close it.

[2020-04-01 23:33] LeoHChen commented on #2425
yes, so it is expected that s0 taking long time to sync as the block rewards per block calculation takes time.  One mitigation for us is to build a snapshot of the blockchain db, so that new node runner can start with the prebuilt snapshot and quickly catchup.

[2020-04-01 23:34] Dewansahil commented on #2573
@mindstyle85 please let us know if we can close this?

[2020-04-01 23:52] LeoHChen commented on #2598
after reconcile the nodedb, it is consistent now.  watchdog has 270 (261 + 9 down), uptime robot has 282 (270 + 4 bootnodes + 8 rclone monitors)

[2020-04-01 23:54] LeoHChen commented on #2598
![image](https://user-images.githubusercontent.com/4513927/78197158-684c2500-7439-11ea-872d-c43751a41c29.png)

[2020-04-01 23:54] LeoHChen commented on #2598
![image](https://user-images.githubusercontent.com/4513927/78197174-713cf680-7439-11ea-9867-0ba22114f188.png)

[2020-04-01 23:54] #2598 closed

[2020-04-01 23:55] LeoHChen commented on #2599
closed it for now, no more other logs can help deep dive.

[2020-04-01 23:55] #2599 closed

[2020-04-01 23:56] LeoHChen commented on #2539
it's easy to test using

`pkill -SIGABORT harmony` to trigger a trace dump.  I am closing this ticket, let me know if you can help me diagnose more.

[2020-04-01 23:56] #2539 closed

[2020-04-02 00:01] fxfactorial commented on #2539
@LeoHChen Sorry I didn't get back on this, actually the person let me ssh into their machine and the signal wasn't SIGABORT but was SIGBUS which was super weird and I couldn't figure out at the time. I think the arch of the machine or the CPU itself didn't have some instructions, maybe. Anyway that validator was able to continue on another machine

[2020-04-02 00:07] fxfactorial opened #2676 "[blsgen] Remove unnecessary hex round trip done during BLS key gen"
In internal/blsgen/lib.go, we have this code:

[code]

but really it should be:

[code]

so this round trip to hex doesn't make sense and isn't needed.

but if you fix it there, then this will break

[code]

Hence if we fix this problem then it will break the loading of existing BLS keys. Thus we will need to make some one off CLI tool that will gracefully do this update of existing keys into this

[2020-04-02 00:21] mindstyle85 commented on #2573
@Dewansahil @LeoHChen

im waiting for a rolling upgrade so i can verify, we only had hard restarts since, so i had no chance yet

[2020-04-02 00:45] MaggieWang-Harmony opened #2677 "always prompts me to type in my passphrase"
![image](https://user-images.githubusercontent.com/55899206/78196583-b6602900-7437-11ea-82fa-9b4ff9f95c67.png)

When I attempt to run a node, it always prompts me to type in my passphrase. After I do so, it always leads to authentication failed. So I must create a new BLS key, which always leads to this

The tool appears to be buggy. I also suggest they implement some automated error collection me

[2020-04-02 01:18] fxfactorial commented on #2677
There is lots of implied context here but I think @janet-harmony knows enough and what to fix about that `remove old` database/logs?` thing

[2020-04-02 01:36] mindstyle85 commented on #2500
looks like we have a possible cause in this issue opened by the team: https://github.com/harmony-one/harmony/issues/2660

so maybe we can close this one?

[2020-04-02 01:39] SebastianJ commented on #2187
@AndyBoWu Yes, there's a 32kb limit - and the nodes will invalidate txs above it.

What I did yesterday was actually sending valid txs (<32kb total tx size) and that crashed the shards. There has been some discussions about lowering the message body size, but that might lead to some incompatibility issues with the EVM implementation.

[2020-04-02 01:59] #2677 closed

[2020-04-02 05:20] sophoah opened #2680 "Earned reward per bls key shows 0"
**Describe the bug**
new feature has been implemented in the latest harmony version ```version v5782-v1.3.5-91-g7b970bae```

however it looks like it doesn't work in OSTN as the earned reward in validator information show 0
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `./hmy -n https://api.s0.os.hmny.io blockchain validator information [VALIDATOR-ADD]`

**Expected behavior**
reward

[2020-04-02 05:29] fxfactorial commented on #2680
Yep, should be fixed https://github.com/harmony-one/harmony/pull/2681 basically I forgot to remove a `!`. Could be in tomorrow's rolling update

[2020-04-02 06:15] gupadhyaya commented on #2654
After some debugging found out that, the problem only happens during the first block of a new epoch. This is expected as the metrics under validator information is fetched from rawdb that writes the stats in the last block of previois epoch.

[2020-04-02 13:21] lijiang2087 opened #2683 "it still asks to remove old database/logs even though it automatically removes already. we should take that line out."
[ec2-user@ip-172-31-27-106 ~]$ ./node.sh -S -c -z -I -N staking -M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   799  100   799    0     0   4514      0 --:--:-- --:--:-- --:--:--  4514
1,2c1,3
< f53cde3

[2020-04-02 14:12] SebastianJ commented on #2187
Done additional tests today - round #1 @JB273 / @BrunoMarshall took down shard 0 & 1 (in less than 5 minutes total for both shards), round #2 @yelllowsin took down s0 in less than a minute and then shard 1 went down soon thereafter.

I've tried multiple iterations of this and the nodes can deal with invalid txs, but as soon as they have to process valid txs with a total size close to 32kb it seems

[2020-04-02 14:24] lijiang2087 commented on #2187
@fxfactorial: Also why shard 0 broke ? Because too much incoming spam causes a oom or the node just isn’t able to process messages fast enough and hence consensus stalls ?

@mindstyle85: Looks like 2nd option

[2020-04-02 18:45] gupadhyaya commented on #2654
Further debugging found that, comparing the effective stakes of elected validators (colelcted using validator information) against the median stake obtained using GetMedianRawStakeSnapshot is incorrect, as GetMedianRawStakeSnapshot is more like running median and committee list.

[2020-04-02 18:58] gupadhyaya commented on #2654
So, the right way to test the effective stake bounds against median is just use the information available in the rpc `hmy_getMedianRawStakeSnapshot`.
* Get the median stake `epos-median-stake`
* Compute lower and upper bounds based on the above number
* Check the `eposed-stake` of each of the `epos-slot-winners` for within bound.

[2020-04-02 18:58] #2654 closed

[2020-04-02 23:11] mindstyle85 commented on #2555
looks like this is fixed, closing

[2020-04-02 23:11] #2555 closed

[2020-04-02 23:14] mindstyle85 commented on #2680
this one is still present in current version:

`./hmy blockchain validator information one1s7fp0jrmd97estwye3mhkp7xsqf42vn5x2sfqy --node="https://api.s0.os.hmny.io"
{
  "id": "0",
  "jsonrpc": "2.0",
  "result": {
    "current-epoch-performance": {
      "current-epoch-signing-percent": {
        "current-epoch-signed": 298,
        "current-epoch-signing-percentage": "0.801075268817204301",

[2020-04-02 23:19] mindstyle85 commented on #2481
i think this doesnt happen anymore @BrunoMarshall @sophoah ?

[2020-04-02 23:19] #2389 closed

[2020-04-02 23:19] #2311 closed

[2020-04-02 23:19] #2291 closed

[2020-04-02 23:23] lijiang2087 commented on #2683
@janet-harmony explained that it was a security measure per @LeoHChen

[2020-04-02 23:23] #2683 closed

[2020-04-02 23:23] danbedford commented on #2680
I'm seeing the same thing; 2 keys out of 16 are showing value, the rest are at 0

[2020-04-02 23:28] fxfactorial commented on #2680
Right it’s present on some but not others. Not clear if it is core protocol issue or multibls issue , @gupadhyaya can investigate

[2020-04-03 00:12] yelllowsin opened #2689 "ERROR when loading bls key, err :cipher: message authentication failed"
Currently, node.sh is not loading correctly when using BLS keys with passphrases. It is throwing the error bellow when i input the passphrase, though i double checked and it is correct.

[code]

If i copy the same BLS key to .hmy/blskeys and create a corresponding .pass file, it loads correctly using -M. So the issue is when using -k and prompting the passphrase via terminal.

I am using the lates

[2020-04-03 00:22] nyetwurk opened #2690 "Please change the severity of "Pooled new future transaction" messages in tx_pool.go from warn to info"
**Describe the bug**
Our logs have several warnings that probably aren't actually warnings:
[code]
**Expected behavior**
We would prefer to have these be "info" so they do not trigger our monitoring alarms, which look for warnings.

This is identical to https://github.com/harmony-one/harmony/issues/2321

[2020-04-03 00:24] janet-harmony commented on #2689
@coolcottontail
Can you take a look at this?
It broke after your AWS encrypted BLS key file change (a6929dd3).

[2020-04-03 01:57] fxfactorial commented on #2690
done, whenever @LeoHChen deploys next to s3 will probably have it

[2020-04-03 01:57] #2690 closed

[2020-04-03 01:59] fxfactorial commented on #2680
should be fixed in https://github.com/harmony-one/harmony/pull/2693

[2020-04-03 01:59] #2680 closed

[2020-04-03 02:59] coolcottontail commented on #2689
something is wrong with node.sh itself. the blspass file is not passed in to run harmony:

./node.sh -S -N staking -z -I -c -k dc7f3e48e5a43254e5c76c16751533fd2e205c65183905eae4fde7b84f9196aeae868cb70add4dfb282a51dbadbdcb80.key
node.sh: using manually specified BLS key file: dc7f3e48e5a43254e5c76c16751533fd2e205c65183905eae4fde7b84f9196aeae868cb70add4dfb282a51dbadbdcb80.key
  % Total    % Received

[2020-04-03 03:00] coolcottontail commented on #2689
if you create a password file and run it with -p option for node.sh , then it will run

 ./node.sh -S -N staking -z -I -c -k dc7f3e48e5a43254e5c76c16751533fd2e205c65183905eae4fde7b84f9196aeae868cb70add4dfb282a51dbadbdcb80.key -p mypass.txt
node.sh: using manually specified BLS key file: dc7f3e48e5a43254e5c76c16751533fd2e205c65183905eae4fde7b84f9196aeae868cb70add4dfb282a51dbadbdcb80.key
  % Total

[2020-04-03 04:19] coolcottontail commented on #2689
added fix for this issue in https://github.com/harmony-one/harmony/pull/2695

[2020-04-03 06:54] fxfactorial opened #2696 "Expand error messages when bls keys aren’t all on one shard"
Right now if user puts in bls keys across multiple shards then they get this error (dumped by node.sh)

node.sh: ############### Running Harmony Process ###############
cannot set up node account: bls keys do not belong to the same shard
node.sh: node process finished with status 1
node.sh: restarting in 10s...

This is not helpful, we should tell the user which keys they gave are on what shard so

[2020-04-03 12:12] lijiang2087 commented on #2573
how about now @mindstyle85 ?

[2020-04-03 12:14] lijiang2087 commented on #2507
I have not been able to replicate this issue or seen in the last week, so going to close it for now @mindstyle85 @BrunoMarshall @LeoHChen

[2020-04-03 12:14] #2507 closed

[2020-04-03 12:15] lijiang2087 commented on #2481
closing it for now @mindstyle85 @BrunoMarshall @sophoah

[2020-04-03 12:15] #2481 closed

[2020-04-03 12:16] lijiang2087 commented on #255
@mikedoan @mindstyle85 @LeoHChen from jan 2019? and no one actively working on it. i'm closing this.

[2020-04-03 12:16] #255 closed

[2020-04-03 12:17] lijiang2087 commented on #271
over a year old, closing for now @LeoHChen @mindstyle85

[2020-04-03 12:17] #271 closed

[2020-04-03 12:17] lijiang2087 commented on #311
@mikedoan no work on this since march 2019? closing for now. cc @LeoHChen

[2020-04-03 12:17] #311 closed

[2020-04-03 12:18] lijiang2087 commented on #396
over a year old, closing until it's actively being worked on. @LeoHChen @mindstyle85

[2020-04-03 12:18] #396 closed

[2020-04-03 12:19] lijiang2087 commented on #418
no work on this since feb 2019, closing for now @mikedoan cc @LeoHChen

[2020-04-03 12:19] #418 closed

[2020-04-03 12:19] lijiang2087 commented on #441
this is a separate task, not a github issue, closing this one for now @mikedoan @LeoHChen

[2020-04-03 12:19] #441 closed

[2020-04-03 12:21] lijiang2087 commented on #612
lets close until it's being actively worked on

[2020-04-03 12:21] #612 closed

[2020-04-03 12:21] lijiang2087 commented on #612
cc @LeoHChen @mindstyle85

[2020-04-03 12:30] mindstyle85 commented on #2573
there was another hard restart so couldnt test again, i believe today/tomorrow we should have a rolling upgrade and i will be able to verify @lijiang2087

[2020-04-03 13:19] lijiang2087 commented on #1443
closing for now @AndyBoWu @mindstyle85

[2020-04-03 13:19] #1443 closed

[2020-04-03 13:50] #2058 closed

[2020-04-03 13:51] mindstyle85 commented on #1918
this looks done @rlan35 , closing for now

[2020-04-03 13:58] #719 closed

[2020-04-03 13:58] mindstyle85 commented on #752
closing this one for now

[2020-04-03 13:58] #752 closed

[2020-04-03 13:58] #1448 closed

[2020-04-03 13:59] #1534 closed

[2020-04-03 13:59] #1658 closed

[2020-04-03 13:59] #1659 closed

[2020-04-03 13:59] #1660 closed

[2020-04-03 14:00] fxfactorial commented on #1918
Sort of done, not really in a way . I have huge amount of work on this from earlier this week

[2020-04-03 15:16] mindstyle85 opened #2697 "validator informations shows very outdated effective stake"
**Describe the bug**
 so with what @gupadhyaya was saying i re-tested upper bound stake and that is correct now via median-stake query. However when using validator information query, the effective stake does not change at all. My belief is that the effective stake displayed here is the one from when the validator got first elected.

I think this design is wrong and the validator information shoul

[2020-04-03 17:46] gupadhyaya commented on #2697
@mindstyle85: the validator information metrics is based on EPoS for the current epoch (which is computed in the last block of the previous epoch) and it is not based on the latest data (stakes). This is appropriate as the reward earned (accumulated and per-key reward) are also corresponds to EPoS of the current epoch.

Note that, GetMedianRawStakeSnapshot computes EPoS (effective stake, median) u

[2020-04-03 17:50] LeoHChen commented on #1712
@gupadhyaya has added exponential timeout in view change, so it should converge faster than linear timeout.

[2020-04-03 17:50] #1712 closed

[2020-04-03 17:51] LeoHChen commented on #706
close it for now. not working on resharding atm.

[2020-04-03 17:51] #706 closed

[2020-04-03 17:52] mindstyle85 commented on #2697
@gupadhyaya yes i understand that part, all i am saying is the effective stake in the validator information never changes, at all. It stays like it is indefinetly.

case in point: current median is around 500k:

 "metrics": {
      "by-bls-key": [
        {
          "earned-reward": 9.587708240453163e+21,
          "key": {
            "bls-public-key": "02760cadc6ef3d3c1f8b66adbe182ebc252b451178

[2020-04-03 17:52] LeoHChen commented on #701
too old

[2020-04-03 17:52] #701 closed

[2020-04-03 17:52] LeoHChen commented on #710
resharding will be reworked, this issue is too old

[2020-04-03 17:52] #710 closed

[2020-04-03 17:53] LeoHChen commented on #753
we have switched to zerolog, no longer valid.

[2020-04-03 17:53] #753 closed

[2020-04-03 17:53] fxfactorial commented on #2697
gotcha, so I'll have the effective-stake of this validator shown if it was in epos auction exactly at that moment, and the current one is like the one they had when they won the epos auction. Will try to include today

[2020-04-03 17:54] LeoHChen commented on #866
not sure if it is still relevant, assigning to @SebastianJ to try it out.

[2020-04-03 17:54] LeoHChen commented on #1197
close it for now, will need to re-examine it later.

[2020-04-03 17:54] #1197 closed

[2020-04-03 17:55] mindstyle85 commented on #2697
agreed on the first part.. for the second part it looks like the number shown when he first won the auction, and not for any subsequent auctions after that

[2020-04-03 17:55] LeoHChen commented on #1544
This is still relevant, maybe used to validate the p2p message, not high priority though.

[2020-04-03 17:57] LeoHChen commented on #1551
It's done already.

[2020-04-03 17:57] #1551 closed

[2020-04-03 17:57] LeoHChen commented on #1633
still valid, assigning to @Daniel-VDM . he owns the RPC now.

[2020-04-03 17:58] LeoHChen commented on #1657
done.

[2020-04-03 17:58] #1657 closed

[2020-04-03 17:58] LeoHChen commented on #1666
@coolcottontail please update the status.

[2020-04-03 17:59] LeoHChen commented on #1678
assigning to @Daniel-VDM to triage and check.

[2020-04-03 18:00] LeoHChen commented on #1698
we shall include view change in the regression test, still valid, not high priority right now.

[2020-04-03 18:01] LeoHChen commented on #1711
assigned to Daniel to triage.

[2020-04-03 21:48] gizemcakil opened #2702 "[~5,000 USD] Manipulate earned rewards as a validator"
![image](https://user-images.githubusercontent.com/45907268/79522016-6a081200-800f-11ea-86d0-7bf617193c91.png)

# About The Bounty
Please carefully review the competition terms and submission process before starting.
https://github.com/harmony-one/harmony-open/blob/master/README.md

# Description
This is an open ended bounty to identify exploitation opportunities for validators, related to all exp

[2020-04-03 22:09] gizemcakil opened #2703 "[~5,000 USD] Stake tokens you don't own or create tokens out of thin air"
![image](https://user-images.githubusercontent.com/45907268/79522395-6923b000-8010-11ea-9c91-284929def9dc.png)

# About The Bounty
Please carefully review the competition terms and submission process before starting.
https://github.com/harmony-one/harmony-open/blob/master/README.md

# Description
This is an open ended bounty to identify exploitation opportunities for validators, related to all exp

[2020-04-03 22:14] gizemcakil opened #2704 "[~5,000 USD] Control more than 1/3 or 2/3 of voting power in a shard (sybil, timejack attacks)"
![image](https://user-images.githubusercontent.com/45907268/79522376-5b6e2a80-8010-11ea-8056-4e93e4407485.png)

# About The Bounty
Please carefully review the competition terms and submission process before starting.
https://github.com/harmony-one/harmony-open/blob/master/README.md
# Description
This is an open ended bounty to identify exploitation areas, specifically related to achieving high eno

[2020-04-04 03:31] coolcottontail commented on #1666
Trustwallet reverted harmony staking support PR https://github.com/trustwallet/blockatlas/pull/931 because two test cases failed.

The reason for the test failure :
1) mainnet RPC server doesn't support these two RPCs.
2) need to update the code to implement these two APIs.

1) func (c *Client) GetValidators() (validators Validators, err error) {
2) func (c *Client) GetDelegations(address string)

[2020-04-04 04:26] fxfactorial opened #2706 "reward aggregation introduced regression"
I think area of code is mistaken

https://github.com/harmony-one/harmony/blob/master/core/offchain.go#L234

because you can have bls keys network wide, on different shards.

This is aggregation on network mistake that hit me before on voting power so its a common gotcha I'd say.

this is an example by @danbedford that shows the situation

[code]

this validator has 4 nodes running separately, so t

[2020-04-04 04:53] err0r711 opened #2707 "Sent two Tx's with success over extension, only one on chain"
https://explorer.os.hmny.io/#/tx/0xada57a75e3a1d170d87e34edaa86f1759e579b058ec5f7d3cc032005c3a609f7

https://explorer.os.hmny.io/#/tx/0xd89261fdb685075a6ebdab90abdf389a11aa2c878f0cbe14fb7cadd506e47004

./hmy --node=https://api.s0.os.hmny.io/ balances one1ka33uq8ht6c5wg43u52hg32fkvhx8mnap3mm4r
[
  {
    "shard": 0,
    "amount": 29999.994655276000000000

version v5797-v1.3.5-106-g56d19d2a (jenkins@

[2020-04-04 05:46] sophoah opened #2708 "hmy balances shows balances for shard 0 and 2 only in OSTN"
**Describe the bug**

We should have 4 shards and the command only shows shard 0 and 2:
[code]

[2020-04-04 05:56] sophoah commented on #2348
the issue is fixed in ``` ./harmony --version
Harmony (C) 2020. harmony, version v5797-v1.3.5-106-g56d19d2a (jenkins@ 2020-04-04T01:23:16+0000)```

creating a staking tx error:
[code]
fixing it:
[code]

[2020-04-04 06:53] gizemcakil opened #2710 "[~2,000 USD] Edit configurations of other validators with malicious intent"
![image](https://user-images.githubusercontent.com/45907268/79522376-5b6e2a80-8010-11ea-8056-4e93e4407485.png)

# About The Bounty
Please carefully review the competition terms and submission process before starting.
https://github.com/harmony-one/harmony-open/blob/master/README.md
# Description
This is an open ended bounty to identify exploitation areas, specifically related to changing other con

[2020-04-04 07:04] gizemcakil opened #2711 "[~2,000 USD] Manipulate median in a way to gain unfair advantage"
![image](https://user-images.githubusercontent.com/45907268/79522376-5b6e2a80-8010-11ea-8056-4e93e4407485.png)

# About The Bounty
Please carefully review the competition terms and submission process before starting.
https://github.com/harmony-one/harmony-open/blob/master/README.md
# Description
This is an open ended bounty to identify exploitation areas, specifically related to manipulating the m

[2020-04-04 07:07] gizemcakil opened #2712 "[~2,000 USD] DDOS a validator node to prevent it to propose/sign blocks (BINGO)"
![image](https://user-images.githubusercontent.com/45907268/79522376-5b6e2a80-8010-11ea-8056-4e93e4407485.png)

# About The Bounty
Please carefully review the competition terms and submission process before starting.
https://github.com/harmony-one/harmony-open/blob/master/README.md
# Description
This is an open ended bounty to identify exploitation areas, specifically related to preventing a valid

[2020-04-04 07:17] sophoah commented on #2712
IP addresses of external validators are not exposed, so the main challenge here would be figure out the IP, of expand the attack to the entire shard/network as a whole

[2020-04-04 07:19] gizemcakil opened #2713 "[~5,000 USD] Perform a double-spend attack on OSTN"
![image](https://user-images.githubusercontent.com/45907268/79522376-5b6e2a80-8010-11ea-8056-4e93e4407485.png)

# About The Bounty
Please carefully review the competition terms and submission process before starting.
https://github.com/harmony-one/harmony-open/blob/master/README.md
# Description
This is an open ended bounty to identify exploitation areas, specifically performing a double-spend att

[2020-04-04 08:05] gizemcakil opened #2715 "[Bounty][WIP] Auto-restake tool for validators"
# About The Bounty
https://github.com/harmony-one/harmony-open/blob/master/README.md
**update info on this page** @gizemcakil
# Description

Build a script, validator environment that enables automated restaking and other validator changes to optimize returns. Couple ideas to make the tool more sophisticated:
- Auto add/remove BLS keys to optimize against median
- Auto claim & restate rewards
- Ch

[2020-04-04 08:11] gizemcakil opened #2716 "[~5,000 USD] Build a validator portal (social, informative)"
![image](https://user-images.githubusercontent.com/45907268/79522376-5b6e2a80-8010-11ea-8056-4e93e4407485.png)

# About The Bounty
Please carefully review the competition terms and submission process before starting.
https://github.com/harmony-one/harmony-open/blob/master/README.md
# Description
Build a validator portal/platform; a central place where information about every validator is posted so

[2020-04-04 08:22] gizemcakil opened #2717 "[~2,000 USD] Alert mechanisms for validators and delegators"
![image](https://user-images.githubusercontent.com/45907268/79522376-5b6e2a80-8010-11ea-8056-4e93e4407485.png)

# About The Bounty
Please carefully review the competition terms and submission process before starting.
https://github.com/harmony-one/harmony-open/blob/master/README.md
# Description
Set of tools that could help validators and delegators be informed about the changes that are important

[2020-04-04 08:29] gizemcakil opened #2718 "[Bounty][WIP] Add a multi-delegate feature on staking dashboard"
# About The Bounty
https://github.com/harmony-one/harmony-open/blob/master/README.md
**update info on this page** @gizemcakil
# Description

**Proposal:** Build a multi-delegation feature on the staking explorer that allows the users to delegate to multiple validators with a single click.

**Pain point:**

An average delegator is expected to diversify his stake as a general rule of thumb in invest

[2020-04-04 08:36] gizemcakil opened #2719 "[~2,000 USD] Gain control of a validator or node that isn't yours"
![image](https://user-images.githubusercontent.com/45907268/79522376-5b6e2a80-8010-11ea-8056-4e93e4407485.png)

# About The Bounty
Please carefully review the competition terms and submission process before starting.
https://github.com/harmony-one/harmony-open/blob/master/README.md
# Description
This is an open ended bounty to identify exploitation areas, specifically related to gaining access to

[2020-04-04 12:16] mindstyle85 commented on #2348
so this still happens:

so i strted creating validator when i had 0 balance, then ive sent funds to the address and did some more creations, below are all responses. However my validator still got created and hmy didnt even error message me that the validator already exists now:

so 2 issues here now:
- no validator creation confirmation
- no error message that validator already exists

Also note

[2020-04-04 12:24] yelllowsin commented on #2500
RJ closed that issue, he said that it is an expected behavior, so issue remains for this one. I will be adding some logs later on here, still having the issue on the latest.

[2020-04-04 12:30] lijiang2087 commented on #2707
"can remove it, its not an issue" from @mindstyle85

[2020-04-04 12:30] #2707 closed

[2020-04-04 12:31] mindstyle85 commented on #2707
so this is not an issue, the volunteer whose one1ka33uq8ht6c5wg43u52hg32fkvhx8mnap3mm4r is has in the mean time created a validator, hence why it looks like theres a tx missing, @err0r711 also thought he managed to get funds from the faucet but the facuet doesnt work

[2020-04-04 20:24] danbedford commented on #2706
Some additional information:

Just created new validator for current latest OSTN. Initially created validator with 4 BLS keys, as this validator wallet address is on a Ledger, and there is a limit to how many keys can be included in the `create-validator` tx due to Ledger memory limitations. The validator @fxfactorial commented about above was the same however I initially created that validator wi